<section id="area">
    <div class="container pb-4">
        <app-title [title]="'MI CUENTA'"></app-title>
        <div class="row-center row justify-content-center pt-4" *ngIf="affiliate; else loadingAffiliate">
            <div class="col-12 d-flex mt-2 mb-less-2" *ngIf="affiliate.credito">
                <span class="alert alert-altius text-white w-100 d-flex align-items-center" role="alert">
                    <i class="fas fa-credit-card mr-2"></i>
                    <span class="mr-1 ml-1"> Se te ha asignado un plazo de {{affiliate.credito}} días
                        para pagar los pedidos</span>
                    <i class="fas fa-info-circle ml-auto" #tooltip="matTooltip"
                        matTooltip="Como parte de nuestro programa de credito te hemos asignado un plazo para facturar tus pedidos. Esto quiere decir desde ahora tienes cierta cantidad de días para pagar tus pedidos a partir del día que sean aprobados."></i>
                </span>
            </div>
            <div class="col-12">
                <div class="input-container mt-2 mb-2 shadow">
                    <div class="row">
                        <div class="col-12 field d-flex ">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">Status</td>
                                    <td class="field-value">
                                        <div class="d-flex">
                                            <a [routerLink]="['/afiliado/app',{ outlets: { afr: ['verifique-su-cuenta'] } }]"
                                                #tooltip="matTooltip"
                                                matTooltip="Documentos requeridos: Agregue los documentos de su empresa para verificar su cuenta"
                                                class="text-warning" *ngIf="access_level === 1">
                                                <li class="fa fa-exclamation-triangle mr-2"></li> Cuenta sin verificar
                                            </a>
                                            <span #tooltip="matTooltip"
                                                matTooltip="Documentos en revisión: Cuando su cuenta se verifique recibirá un correo de parte nuestra"
                                                class="text-warning" *ngIf="access_level === 2">
                                                <li class="fa fa-clock-o mr-2"></li> Verificación en proceso
                                            </span>
                                            <a [routerLink]="['/afiliado/app',{ outlets: { afr: ['verifique-su-cuenta'] } }]"
                                                #tooltip="matTooltip"
                                                matTooltip="Uno de nuestros agentes está revisando su solictud, pronto recibirá una respuesta a su correo"
                                                class="text-warning" *ngIf="access_level === 3">
                                                <li class="fa fa-clock-o mr-2"></li> Solicitud en proceso
                                            </a>
                                            <span #tooltip="matTooltip"
                                                matTooltip="Su cuenta se ha verificado con éxito" class="text-info"
                                                *ngIf="access_level === 4">
                                                <li class="fa fa-check mr-2"></li> Cuenta verificada
                                            </span>
                                        </div>
                                    </td>
                                    <td class="action-td"></td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 field d-flex ">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">ID</td>
                                    <td class="field-value">{{affiliate.id}}</td>
                                    <td class="action-td"></td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 field d-flex ">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">Nombre de la empresa</td>
                                    <td class="field-value"><a>{{affiliate.nombre_empresa}}</a></td>
                                    <td class="action-td">
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 field d-flex ">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">Nombre del representante</td>
                                    <td class="field-value ">{{affiliate.representante}}</td>
                                    <td class="action-td">
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 field d-flex">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">Teléfono</td>
                                    <td class="field-value "><span
                                            *ngIf="affiliate.telefono; else notFound">{{affiliate.telefono}}</span></td>
                                    <td class="action-td">
                                        <app-edit-affiliate [affiliate]="affiliate" [field]="'telefono'"
                                            [add]="affiliate.telefono ? false : true">
                                        </app-edit-affiliate>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 field d-flex">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">Teléfono auxiliar</td>
                                    <td class="field-value "><span
                                            *ngIf="affiliate.telefono_auxiliar; else notFound">{{affiliate.telefono_auxiliar}}</span>
                                    </td>
                                    <td class="action-td">
                                        <app-edit-affiliate [affiliate]="affiliate" [field]="'telefono_auxiliar'"
                                            [add]="affiliate.telefono_auxiliar!== null ? false : true">
                                        </app-edit-affiliate>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 field d-flex">
                            <table class="table table-borderless">
                                <tbody>
                                    <td class="field-title">
                                        Direcciones de despacho
                                    </td>
                                    <td class="field-value">
                                        <p class="small" *ngFor="let direccion of direcciones; let i=index"
                                            class="mb-2">
                                            {{direccion.calle}} {{direccion.sector}} {{direccion.edificio}}
                                            {{direccion.referencia}} - {{direccion.zona}}
                                        </p>
                                    </td>
                                    <td class="action-td">
                                        <button id="edit_address_btn" (click)="editAddress()" class="btn shadow-none">
                                            <li class="fa fa-edit"></li>
                                        </button>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <button mat-raised-button id="change_password_btn" (click)="changePassword()"><span>CAMBIAR
                        CONTRASEÑA</span></button>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingAffiliate>
    <div class="d-flex justify-content-center" style="height: 60vh;">
        <div class="align-self-center">
            <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>
            <app-afiliado-error *ngIf="error" (reload)="load()" [errorDetails]="errorDetails"></app-afiliado-error>
        </div>
    </div>
</ng-template>

<ng-template #notFound>
    <span class="fieldNotFound">No agregado</span>
</ng-template>

<ng-template #processing>
    <div class="d-flex justify-content-start align-items-center w-100">
        <mat-spinner [diameter]="25"></mat-spinner>
        <span class="ml-1 text-white" style="font-size: 10px;"> 100% </span>
    </div>
</ng-template>