#area{
    min-height: calc(100vh - 85px);
    overflow-x: hidden;
}

.row-center{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.input-container{
    background-color: #07423f;
    border-radius: 5px;
}

table{
    color: whitesmoke;
}

.field-title{
    width: 40%;
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    padding-top: 20px;

}
.field-value{
    width: 50%;
    text-align: start;
    font-size: 14px;
    align-self: center;
    padding-top: 20px;
}


#change_password_btn{
    text-transform: uppercase;
    font-family: 'Montserrat', 'medium';
    font-weight: 500;
    font-size: 23.5px;
    letter-spacing: 1.2px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #C2FFF8;
    margin-bottom: 20px;
}

.fieldNotFound{
    font-size: 12px;
    color: whitesmoke;
}

#addressSel{
    background-color: transparent;
    color: white;
    border: 0.2px solid rgba(255, 255, 255, 0.219);
    font-size: 12px;
    height: 40px;
}

#addressSel option{
    color: #000000;
}

#edit_address_btn{
    border: 0.2px solid rgba(255, 255, 255, 0.219);
    color: whitesmoke;
    background-color: transparent;
    padding: 8px 15px;
    border-radius: 4px;
}

@media screen and (max-width: 992px){
    h6{
        font-size: 12px;
    }
    .field-title, .field-value{
        font-size: 10px;
    }
    .input-container, .container,  .row-center{
        max-width: 100%;
        padding: 0;
    }
    table{
        font-size: 10px;
    }
}

.mb-less-2{
    margin-bottom: -15px;
}

.alert-altius{
    background-color: rgb(3, 94, 94);
}

@media screen and (max-width: 480px){
    #area{
        min-height: calc(100vh - 60px);
    }

    #change_password_btn{
        font-size: 14px;
        font-weight: 600;
    }

    .alert-altius{
        font-size: 12px;
    }
}