<div>
  <!-- *ngIf="!loading && !error; else loadingTable" -->
  <div>
    <mat-form-field appearance="outline" class="mt-4 mx-4">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Spider-Man" #input>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Acciones</mat-label>
      <mat-select>
        <mat-option value="option">Activar</mat-option>
        <mat-option value="option">Desactivar</mat-option>
        <mat-option value="option">Exportar</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="rif">
      <th mat-header-cell *matHeaderCellDef> Rif </th>
      <td mat-cell *matCellDef="let element"> {{element.rif}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre_comercial">
      <th mat-header-cell *matHeaderCellDef> nombre_comercial </th>
      <td mat-cell *matCellDef="let element"> {{element.comercio}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_registro">
      <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} </td>
    </ng-container>

    <ng-container matColumnDef="status_desc">
      <th mat-header-cell *matHeaderCellDef> estatus </th>
      <td mat-cell *matCellDef="let element"> {{element.status_desc}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button (click)="_editClient(client)" class="container_icon">
          <i class="fas fa-user-edit activate_edit"></i>
        </button>

        <button mat-icon-button (click)="_editClient(client)" class="container_icon">
          <i class="fas fa-id-card activate_show"></i>
        </button>

        <button mat-icon-button (click)="_editClient(client)" class="container_icon">
          <i class="fas fa-ban activate_ban"></i>
        </button>
      </td>
    </ng-container>

    <!--  Expanded Content Column - The detail row is made up of this one column that spans across all columns 
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let client" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <ng-container *ngIf="expandedElement === element">
            <button mat-raised-button (click)="_editClient(client)">
              editar
            </button>
          </ng-container>
        </div>
      </td>
    </ng-container>
 -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;">
    </tr>
  </table>
</div>

<mat-paginator [hidden]="loading || error" [length]="resultsLength" [pageSize]="25" showFirstLastButtons
  (page)="load()"></mat-paginator>

<ng-template #loadingTable>
  <div class="loading d-flex justify-content-center align-items-center p-4">
    <button class="loading-btn" mat-raised-button *ngIf="loading">
      <mat-spinner [diameter]="20"></mat-spinner>
    </button>
    <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
      <li class="fas fa-redo-alt"></li>
    </button>
  </div>
</ng-template>