<h1 mat-dialog-title>
    <span class="field">
        DIFERIR DEBITO
    </span>
</h1>
<div mat-dialog-content class="mat-dialog-content">
    <p class="bold">Monto a diferir:</p>
    <p>{{montoADiferir() | currency}}</p>
    <p class="bold">Seleccione el tipo de diferido a aplicar:</p>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="container_box">
        <mat-label>Tipo de diferido</mat-label>
        <mat-select disableRipple formControlName="id_diferido">
            <mat-option *ngFor="let tipo of tipos" value={{tipo.id}}>
                {{tipo.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
    <div class="d-flex w-100">
        <button class="flex-fill cancel action_button" mat-button [mat-dialog-close]="null">
            <li class="fa fa-times text-dark"></li>
        </button>
        <button class="flex-fill confirm action_button" [disabled]="form.invalid" mat-button cdkFocusInitial
            [mat-dialog-close]="form.value">
            <li class="fa fa-check"></li>
        </button>
    </div>
</div>