<h1 mat-dialog-title>
    <li class="fa fa-edit mr-2"></li>
    <span class="field">
        Parametrizar venta #{{dataVenta.number}}
    </span>
</h1>
<div mat-dialog-content class="mat-dialog-content">
    <div class="pt-2 pb-1 less-padding" *ngIf="formDinamic">
        <div *ngFor="let item of dataVenta.items; let z = index">
            <div *ngIf="!item.complemento_d">
                <h1>{{item.modelo}} - {{item.cod_serial}}</h1>
                <!-- {{z}} -->
                <form [formGroup]="formDinamic[z]">
                    <mat-form-field class="box" appearance="outline">
                        <mat-label>Numero de afiliado</mat-label>
                        <input matInput type="text" formControlName="afiliado" maxlength="8" (keypress)="onlyNumberKey($event)">
                    </mat-form-field>

                    <mat-form-field class="box" appearance="outline">
                        <mat-label>Numero de terminal</mat-label>
                        <input matInput type="text" formControlName="terminal" maxlength="3" (keypress)="onlyNumberKey($event)">
                        <!-- <mat-error *ngIf="formDinamic[z].get('terminal')?.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="d-flex w-100">
        <button class="flex-fill cancel action_button" mat-button [mat-dialog-close]="null">
            <li class="fa fa-times text-dark"></li>
        </button>
        <button class="flex-fill confirm action_button" [disabled]="invalid()" mat-button cdkFocusInitial
            [mat-dialog-close]="true" (click)="saveConfig(serial, modelo, solicitud_banco_id)">
            <li class="fa fa-check"></li>
        </button>
    </div>
</div>