<!-- Vista de Agregar Cliente -->
<section id="editClient">
    <!-- Botones del Navbar -->
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['clientela'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <p class="title_mother text-uppercase">
                Editar Cliente
            </p>
            <div class="title_edit">
                <p class="text-tilte text-uppercase">
                    Rif:
                    <span class="text_rif">{{editClient.rif}}</span>
                </p>
                <p class="text-tilte text-uppercase">
                    Cliente:
                    <span class="text_rif">{{editClient.t_cliente}}</span>
                </p>
                <p class="text-tilte text-uppercase">
                    Cedula:
                    <span class="text_rif">{{editClient.c_natural.c_doc}}</span>
                </p>
            </div>

            <mat-vertical-stepper linear #stepper>
                <ng-template matStepperIcon="edit">
                    <li class="fa fa-check"></li>
                </ng-template>

                <div *ngIf="getTipoCliente()=='N' || getTipoCliente()=='R'">
                    <mat-step [stepControl]="client_type">
                        <form [formGroup]="data_vr">
                            <ng-template matStepLabel>Ingrese los datos personales</ng-template>

                            <h6>Datos del Cliente</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Primer Nombre</mat-label>
                                <input matInput formControlName="primer_nombre" placeholder="ConsuPagos" type="text"
                                    maxlength="255">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Segundo Nombre</mat-label>
                                <input matInput formControlName="segundo_nombre" placeholder="ConsuPagos" type="text"
                                    maxlength="255">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Primer Apellido</mat-label>
                                <input matInput formControlName="primer_apellido" placeholder="ConsuPagos" type="text"
                                    maxlength="255">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Segundo Apellido</mat-label>
                                <input matInput formControlName="segundo_apellido" placeholder="ConsuPagos" type="text"
                                    maxlength="255">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Genero</mat-label>
                                <mat-select disableRipple formControlName="genero">
                                    <mat-option *ngFor="let genero of generos" value={{genero.id}}>
                                        {{genero.genero}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Profesión</mat-label>
                                <input matInput formControlName="profesion" placeholder="Comerciante" type="text"
                                    maxlength="255">
                            </mat-form-field>

                        </form>

                        <div>
                            <button class="stepBtn" mat-raised-button matStepperNext
                                [disabled]="data_vr.invalid">Siguiente</button>
                        </div>
                    </mat-step>
                </div>

                <mat-step [stepControl]="client">
                    <form [formGroup]="client" #l="ngForm">
                        <ng-template matStepLabel>Ingresar los datos del cliente</ng-template>
                        <div>
                            <h6>Datos del Comercio</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Razón Social</mat-label>
                                <input matInput formControlName="razon_social" placeholder="ConsuPagos" type="text"
                                    maxlength="255">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Nombre Comercial</mat-label>
                                <input matInput formControlName="nombre_comercial" placeholder="ConsuPagos" type="text"
                                    maxlength="255">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Tipo de Contribuyente</mat-label>
                                <mat-select disableRipple formControlName="contribuyente">
                                    <mat-option *ngFor="let contribuyente of contribuyentes" value={{contribuyente.id}}>
                                        {{contribuyente.contribuyente}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Actividad Comercial</mat-label>
                                <mat-select disableRipple formControlName="act_comercial">
                                    <mat-option *ngFor="let actividad_comercial of actividades_comerciales"
                                        value={{actividad_comercial.id}}> {{actividad_comercial.actividad_comercial}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput formControlName="email" placeholder="ConsuPagos@gmail.com" type="email"
                                    maxlength="255">
                            </mat-form-field>
                        </div>

                        <!-- <div>
                            <h6>Datos de Contacto / Numero de telefono:</h6>
                            <div *ngFor="let telefono of editClient.telefonos" class="phone_number">
                                {{telefono.identificador}}-{{telefono.telefono}}
                            </div>
                        </div> -->

                        <div>
                            <h6>Datos Geográficos</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Estado</mat-label>
                                <mat-select disableRipple formControlName="estado">
                                    <mat-option *ngFor="let estado of estados" value={{estado.id}}>
                                        {{estado.estado}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Municipio</mat-label>
                                <mat-select disableRipple formControlName="municipio">
                                    <mat-option *ngFor="let municipio of municipios" value={{municipio.id}}>
                                        {{municipio.municipio}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Parroquia</mat-label>
                                <mat-select disableRipple formControlName="parroquia">
                                    <mat-option *ngFor="let parroquia of parroquias" value={{parroquia.id}}>
                                        {{parroquia.parroquia}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Ciudad</mat-label>
                                <mat-select disableRipple formControlName="ciudad">
                                    <mat-option *ngFor="let ciudad of ciudades" value={{ciudad.id}}>
                                        {{ciudad.ciudad}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Codigo Postal</mat-label>
                                <input matInput formControlName="codpostal" placeholder="1080" type="text" maxlength="5"
                                    (keypress)="onlyNumberKey($event)">
                            </mat-form-field>
                        </div>

                        <div class="direction_form">
                            <div class="direction">
                                <mat-form-field class="container_box_direction" appearance="outline">
                                    <mat-label>Dirección</mat-label>
                                    <textarea matInput placeholder="Av. Ernesto Blohm" formControlName="direccion"
                                        type="text" maxlength="510">
                                </textarea>
                                </mat-form-field>
                            </div>

                            <div class="direction">
                                <mat-form-field class="container_box_direction" appearance="outline">
                                    <mat-label>Punto de referencia</mat-label>
                                    <textarea matInput placeholder="Pasando Proteccion animal"
                                        formControlName="pto_referencia" type="text" maxlength="510">
                                </textarea>
                                </mat-form-field>
                            </div>

                            <div class="direction">
                                <mat-form-field class="container_box_direction" appearance="outline">
                                    <mat-label>Localidad</mat-label>
                                    <textarea matInput placeholder="Pasando Proteccion animal"
                                        formControlName="localidad" type="text" maxlength="510">
                                </textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <h6>Medio de Contacto</h6>
                            <mat-form-field appearance="outline">
                                <mat-label>Via</mat-label>
                                <mat-select disableRipple formControlName="contacto">
                                    <mat-option *ngFor="let m_contacto of contactos" value={{m_contacto.id}}>
                                        {{m_contacto.m_contacto}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>

                    <div>
                        <button class="stepBtn" mat-raised-button matStepperPrevious>
                            Anterior
                        </button>

                        <button class="stepBtn" *ngIf="getTipoCliente()=='N' || getTipoCliente()=='R'" mat-raised-button
                            matStepperNext [disabled]="client.invalid" (click)="submit()">
                            Finalizar
                        </button>

                        <button class="stepBtn" *ngIf="getTipoCliente()=='J'" mat-raised-button matStepperNext
                            [disabled]="client.invalid">
                            Siguiente
                        </button>
                    </div>
                </mat-step>

                <div *ngIf="getTipoCliente()=='J'">
                    <mat-step [stepControl]="agents">
                        <ng-template matStepLabel>Datos del Representante Legal</ng-template>
                        <h6></h6>
                        <ng-container>
                            <div class="container_agent">
                                <form [formGroup]="agents[i]" class="formulario"
                                    *ngFor="let format of formats; let i=index">

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Primer Nombre</mat-label>
                                        <input matInput formControlName="p_nombre_representante" placeholder="123456789"
                                            type="text">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Segundo Nombre</mat-label>
                                        <input matInput formControlName="s_nombre_representante" placeholder="123456789"
                                            type="text">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Primer Apellido</mat-label>
                                        <input matInput formControlName="p_apellido_representante"
                                            placeholder="123456789" type="text">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Segundo Apellido</mat-label>
                                        <input matInput formControlName="s_apellido_representante"
                                            placeholder="123456789" type="text">
                                    </mat-form-field>

                                    <div>
                                        <mat-form-field appearance="outline" class="container_box">
                                            <mat-label>Tipo</mat-label>
                                            <mat-select disableRipple formControlName="tipo_doc_rep">
                                                <mat-option *ngFor="let t_doc of tipo_documentos" value={{t_doc.t_doc}}>
                                                    {{t_doc.t_doc}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="container_box_space">
                                            <mat-label>Cédula</mat-label>
                                            <input matInput formControlName="cedula_representante"
                                                placeholder="123456789" type="text">
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Teléfono Local</mat-label>
                                        <input matInput formControlName="telefono_local_repre" placeholder="123456789"
                                            type="text">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Teléfono Móvil</mat-label>
                                        <input matInput formControlName="telefono_movil_repre" placeholder="123456789"
                                            type="text">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Correo Electrónico</mat-label>
                                        <input matInput formControlName="email_repre" placeholder="123456789"
                                            type="text">
                                    </mat-form-field>

                                </form>
                                <div>
                                    <button class="btn_form_add_agent" mat-icon-button color="primary"
                                        aria-label="Example icon button with a menu icon" (click)="add_agent()"
                                        *ngIf="(formats.length === 1 ||  formats.length === 0)">
                                        <i class="fas fa-user-plus icon_sell"></i>
                                        Agregar un Representante Legal
                                    </button>

                                    <button mat-icon-button class="btn_form_add_agent" color="primary"
                                        aria-label="Example icon button with a menu icon" (click)="deleteAgent(1)"
                                        *ngIf="(formats.length === 2)">
                                        <i class="fas fa-user-minus icon_sell"></i>
                                        Eliminar un Representante Legal
                                    </button>
                                </div>

                            </div>

                            <div>
                                <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                                <app-action-btn (onClick)="save()" [loading]="loading" [text]="'Actualizar'"
                                    [isDisabled]="client.invalid || loading">
                                </app-action-btn>
                            </div>
                        </ng-container>
                    </mat-step>
                </div>


            </mat-vertical-stepper>
        </div>
    </div>
</section>
<!-- <div>
                        <strong>Form value:</strong>
                        <pre>{{ l.form.value | json }}</pre>
                    </div> -->
<!-- Bootn de siguiente strepper -->