<section id="superadmin">
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span matBadge={{countNuevos}} matBadgeSize="small" matBadgeOverlap="false"
                            matBadgePosition="before">
                            Listado de Usuarios
                        </span>
                    </ng-template>
                    <app-tabla-super-admin (editUser)="editUser($event)" (showUser)="showUser($event)"
                        (count)='countNuevos = $event' class="w-100" [access_level]="0">

                    </app-tabla-super-admin>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>