<section id="superadmin">
    <div class="title">
        
    </div>
    <div class="container-fluid">
        <div class="d-flex">
            <app-admin-title [title]="'Lista de usuarios'" [description]="'Agrega y edita usuarios'"></app-admin-title>
            <button mat-button [routerLink]="['/admin/app',{ outlets: { adr: ['nuevo-admin'] } }]"> Agregar usuario </button>
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'"
                matTooltip="Exportar en formato Excel">
                <li class="fas fa-file-download"></li>
            </a>
        </div>
        
        <div class="table-container">
            <app-tabla-super-admin></app-tabla-super-admin>
        </div>
    </div>
</section>