<section id="ficha-user">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab label="Venta">
                    <ng-template matTabContent>
                        <div class="container-fluid rounded bg-white mb-5">
                            <div>
                                <div>
                                    <h4 class="text-center">
                                        Información de la venta
                                    </h4>

                                    <div class="sub-title">
                                        <div class="text-sub-title">
                                            <h6>
                                                <strong>Venta Nº: </strong>{{showSale.number}}
                                            </h6>
                                        </div>
                                        <div class="text-sub-title">
                                            <h6>
                                                <strong>Estatus: </strong>{{showSale.status_desc}}
                                            </h6>
                                        </div>
                                        <div class="text-sub-title">
                                            <h6>
                                                <strong>Rif: </strong>{{showSale.rif}}
                                            </h6>
                                        </div>
                                        <div class="text-sub-title">
                                            <h6>
                                                <strong>Cliente: </strong>{{showSale.razon_social}}
                                            </h6>
                                        </div>
                                    </div>

                                    <div *ngFor="let solicitud of showSale.solicitudes_banco">
                                        <div class="conatiner-text">
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Tipo de Venta: </strong>{{solicitud.fraccion_desc}}
                                                </h6>
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Banco: </strong>{{solicitud.banco}}
                                                </h6>
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Nº Cuenta: </strong>{{solicitud.cuenta}}
                                                </h6>
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Codigo Afiliado: </strong>{{solicitud.afiliado}}
                                                </h6>
                                            </div>
                                            <!-- <div class="content-text">
                                                <h6>
                                                    <strong>Terminal: </strong>{{solicitud.terminal}}
                                                </h6>
                                            </div> -->
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Plataforma: </strong> {{solicitud.plataforma.plataforma}}
                                                </h6>
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Plan: </strong> {{solicitud.plataforma.plan}}
                                                </h6>
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Tipo de Cobro: </strong>
                                                    {{solicitud.plataforma.fraccion_desc}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="date-sale">
                                        <h6>
                                            <strong>Fecha de venta: </strong>{{showSale.fecha}}
                                        </h6>
                                    </div>

                                    <h4>EQUIPO</h4>

                                    <div *ngFor="let item of showSale.items">
                                        <div *ngIf="!item.complemento_d">
                                            <div class="conatiner-text">
                                                <div class="content-text">
                                                    <h6>
                                                        <strong>Marca: </strong>{{item.marca}}
                                                    </h6>
                                                </div>
                                                <div class="content-text">
                                                    <h6>
                                                        <strong>Modelo: </strong>{{item.modelo}}
                                                    </h6>
                                                </div>
                                                <div class="content-text">
                                                    <h6>
                                                        <strong>Serial Nº: </strong>{{item.cod_serial}}
                                                    </h6>
                                                </div>
                                                <div class="content-text">
                                                    <h6>
                                                        <strong>Monto: </strong>{{item.precio | currency}}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="showSale.items.length  == 0">
                                        <div *ngFor="let modelos of showSale.modelos">
                                            <div *ngFor="let equipo of modelos.caracteristicas">
                                                <div class="conatiner-text">
                                                    <div class="content-text">
                                                        <h6>
                                                            <strong>Marca: </strong>{{equipo.marca}}
                                                        </h6>
                                                    </div>
                                                    <div class="content-text">
                                                        <h6>
                                                            <strong>Modelo: </strong>{{equipo.modelo}}
                                                        </h6>
                                                    </div>
                                                    <div class="content-text">
                                                        <h6>
                                                            <strong>Serial Nº: </strong>{{equipo.cod_serial}}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4>SIMS</h4>

                                    <div *ngFor="let item of showSale.items">
                                        <div *ngFor="let sim of item.sim">
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Modelo: </strong>{{sim.modelo}}
                                                </h6>
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    <strong>Serial Nº: </strong>{{sim.cod_serial}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>