<section id="ficha-user">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab label="Venta">
                    <ng-template matTabContent>
                        <div class="container-fluid rounded bg-white mb-5">
                            <div class="row container-ficha">
                                <div class="col-lg-4 col-md-12">
                                    <h4 class="text-center">
                                        Información de la venta
                                    </h4>

                                    <!-- {{showSale.afiliado}}
                                    {{showSale.banco}}
                                    {{showSale.codigo_banco}}
                                    {{showSale.cuenta}}
                                    {{showSale.fecha}}
                                    {{showSale.fraccion_desc}}
                                    {{showSale.number}}
                                    {{showSale.razon_social}}
                                    {{showSale.rif}}
                                    {{showSale.status_desc}} -->
                                    <h4>EQUIPO</h4>

                                    <div *ngFor="let item of showSale.items">

                                        <div *ngIf="!item.complemento_d">

                                            {{item.cod_serial}}
                                            {{item.marca}}
                                            {{item.modelo}}
                                            {{item.precio}}
                                        </div>

                                    </div>
                                    <h4>SIMS</h4>

                                    <div *ngFor="let item of showSale.items">


                                        <div *ngIf="item.complemento_d">
                                            {{item.cod_serial}}
                                            {{item.marca}}
                                            {{item.modelo}}
                                            {{item.precio}}
                                        </div>

                                    </div>


                                    <!-- {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}}
                                    {{showSale.afiliado}} -->

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>