<section id="crmdetalle">
    <div class="container-fluid">
        <div class="title">
            <!-- <div class="d-flex">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver al detalle"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['cobros', id_afiliado] } }]">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div> -->
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-100">
                <div class="bg-white rounded card p-4">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="box-title d-flex justify-content-center">
                                    <h4 class="text-uppercase">Conciliar Archivo</h4>
                                </div>
                                <!-- <div class="d-flex justify-content-center text-uppercase">
                                    Pedido N° {{this.id}}
                                </div> -->
                            </div>
                        
                            <div class="col-12 mt-2">
                                <label for="metodo">
                                    Seleccionar Banco
                                </label>
                                <select id="method" class="form-control shadow-none">
                                    <option selected class="text-uppercase" value="">Seleccionar banco</option>
                                    <option class="text-uppercase" value="">100% Banco</option>
                                    <option class="text-uppercase" value="">Bicentenario</option>
                                </select>
                            </div>
                            <div class="col-12 mt-2">
                                <label for="metodo">
                                    Archivo de cobro
                                </label>
                                <select id="method" class="form-control shadow-none">
                                    <option selected class="text-uppercase" value="">Seleccionar archivo</option>
                                    <option class="text-uppercase" value="">21/10/2021</option>
                                </select>
                            </div>
                            <div class="col-12 mt-2">
                                <label for="metodo">
                                    Selecionar archivo
                                </label>
                                <input type="file" class="form-control-file border">

                            </div>


                            <div class="col-12 mt-3">
                                <div class="d-flex w-100">
                                    <button [disabled]="true" mat-button class="p-1 w-100 btn btn-success bg-success text-white text-uppercase h5">Conciliar ARCHIVO</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>