<div *ngIf="!loading else loader">
</div>

<mat-sidenav-container class="custom-container">

  <mat-sidenav class="sidenav" [(opened)]="opened" mode="side" opened #drawer>
    <app-admin-sidenav (Toggle)='drawer.toggle()'>
    </app-admin-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-admin-navbar></app-admin-navbar>
    <div class="pt-3">
      <router-outlet name='adr'></router-outlet>
      <button mat-icon-button aria-label="Example icon button with a home icon" (click)='drawer.toggle()'
        class="btn_toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </mat-sidenav-content>



</mat-sidenav-container>


<ng-template #iconclose> <i class="fas fa-chevron-right"></i></ng-template>
<ng-template #loader>
  <div class="loader" *ngIf="loading">
    <app-loader></app-loader>
    <h6>
      <span class="animated">
      </span>
    </h6>
  </div>
</ng-template>