<section id="ficha-user">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['super-admin-panel'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab label="Información">
                    <ng-template matTabContent>
                        <div class="container-fluid rounded bg-white mb-5">
                            <div class="row container-ficha">
                                <div class="col-lg-4 col-md-12">
                                    <div class="p-3 py-5">
                                        <h4 class="text-center">Información del Usuario</h4>
                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Nombres y Apellidos:
                                                </label>
                                                <span class="text-capitalize">
                                                    {{showUser.p_nombre}}
                                                    {{showUser.p_apellido}}
                                                    {{showUser.s_nombre}}
                                                    {{showUser.s_apellido}}
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Cedula:
                                                </label>
                                                <span class="text-capitalize">
                                                    {{showUser.cedula}}
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Correo Electronico:
                                                </label>
                                                <a href="mailto:{{showUser.email}}" class="text-lowercase">
                                                    {{showUser.email}}
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Fecha de registro:
                                                </label>
                                                <span>
                                                    {{showUser.fecha_registro}}
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Telefono:
                                                </label>
                                                <span>
                                                    {{showUser.tlf}}
                                                </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Direccion:
                                                </label>
                                                <span>
                                                    {{showUser.direccion}}, {{showUser.localidad}},
                                                    {{showUser.cod_postal}}, {{showUser.pto_ref}}.
                                                </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    OCC:
                                                </label>
                                                <span>
                                                    {{showUser.occ_name}}
                                                </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Estatus del usuario:
                                                </label>
                                                <span>
                                                    {{showUser.status_desc}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 container_module">
                                            <label class="labels title_data">
                                                Rol:
                                            </label>
                                            <span class="text-capitalize">
                                                {{showUser.rol.rol_name}}
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</section>