<section id="ficha-user">




    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
            [routerLink]="['/admin/app',{ outlets: { adr: ['super-admin-panel'] } }]">
            <li class="fas fa-arrow-left"></li>
        </a>
            <mat-tab-group>
                <mat-tab label="Información">
                    <ng-template matTabContent>
                        <div class="container-fluid rounded bg-white mb-5">
                            <div class="row container-ficha">
                                <div class="col-lg-4 col-md-12">
                                    <h4 class="text-center">
                                        Información del Usuario
                                    </h4>


                                    <mat-card-title-group>
                                        <mat-card-title>
                                            {{showUser.p_nombre}}
                                            {{showUser.p_apellido}}
                                            {{showUser.s_nombre}}
                                            {{showUser.s_apellido}}
                                        </mat-card-title>
                                        <mat-card-subtitle>
                                            <div>
                                                <label class="labels">
                                                    Cedula:
                                                </label>
                                                <span class="text-capitalize">
                                                    {{showUser.cedula}}
                                                </span>
                                            </div>
                                            <div>
                                                <label class="labels">
                                                    Correo Electronico:
                                                </label>
                                                <a href="mailto:{{showUser.email}}" class="text-lowercase">
                                                    {{showUser.email}}
                                                </a>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    OCC:
                                                </label>
                                                <span>
                                                    {{showUser.occ_name}}
                                                </span>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    Telefono:
                                                </label>
                                                <span>
                                                    {{showUser.tlf}}
                                                </span>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    Estatus del usuario:
                                                </label>
                                                <span>
                                                    {{showUser.status_desc}}
                                                </span>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    Rol:
                                                </label>
                                                <span class="text-capitalize">
                                                    {{showUser.rol.rol_name}}
                                                </span>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    Comisionable:
                                                </label>
                                                <span class="text-capitalize">
                                                    {{showUser.comisionable_desc}}
                                                </span>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    Direccion:
                                                </label>
                                                <span>
                                                    {{showUser.direccion}}, {{showUser.localidad}},
                                                    {{showUser.cod_postal}}, {{showUser.pto_ref}}.
                                                </span>
                                            </div>

                                            <div>
                                                <label class="labels">
                                                    Fecha de registro:
                                                </label>
                                                <span>
                                                    {{showUser.fecha_registro}}
                                                </span>
                                            </div>
                                        </mat-card-subtitle>
                                    </mat-card-title-group>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>