<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />

  <h3>Arrastra y suelta el archivo aquí</h3>
  <h3>ó</h3>
  <label for="fileDropRef">
    Buscar archivo</label>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <div class="file-icon">
      <i class="fas fa-file-upload"></i>
    </div>
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <app-progress [progress]="file?.progress"></app-progress>
    </div>

    <div class="delete" (click)="deleteFile(i)"> <i class="fas fa-trash-alt"></i></div>
  </div>
</div>