<section id="pedido">
    <div class="container h-100 mb-5">
        <div class="row justify-content-center">
            <app-title class="col-12" [title]="getTitle()" [subtitle]="'Pedido'"></app-title>
            <div class="col-12" *ngIf="order; else loadingTransaction">
                <div class="row table-container">
                    <div class="col-12 p-3">
                        <table class="table table-borderless text-left">
                            <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                    {{order.estado}}
                                </td>
                            </tr>
                            <tr *ngIf="order.limite_credito">
                                <td>
                                    Límite credito
                                </td>
                                <td>
                                    {{order.limite_credito | date:'short'}}
                                </td>
                            </tr>
                            <tr *ngIf="order.descuento">
                                <td>
                                    Descuento
                                </td>
                                <td>
                                    {{order.descuento}}%
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 p-3" *ngFor="let venta of order.ventas">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src={{venta.presentacion.producto.img_name}}
                                    alt={{venta.presentacion.producto.producto}} class="img img-fluid">
                            </div>
                            <div class="ml-auto">
                                <p>{{venta.presentacion.producto.producto}}</p>
                            </div>
                            <div class="ml-auto">
                                <p>{{venta.unidades}} x {{venta.presentacion.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <div class="d-flex flex-column pt-3">
                                    <table class="table table-borderless">
                                        <tr>
                                            <th>
                                                Total:
                                            </th>
                                            <th>
                                                {{order.total | currency : 'USD' : true : '1.2-2'}}
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingTransaction>
    <div class="d-flex justify-content-center" style="height: 60vh;">
        <div class="align-self-center">
            <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>
            <app-afiliado-error *ngIf="error" (reload)="load()" [errorDetails]="errorDetails"></app-afiliado-error>
        </div>
    </div>
</ng-template>