<section id="portafolio-carrusel">
    <div class="container mt-5">
        <div *ngIf="products; else loadingProducts">
            <div class="d-flex justify-content-center align-items-center">
                <mat-button-toggle-group #group="matButtonToggleGroup" name="presentaciones" aria-label="Presentaciones"
                    style="border: none;" (change)="setFormat(group.value)" [value]="'UNIDAD'">
                    <mat-button-toggle [value]="'UNIDAD'">
                        <span class="text-uppercase">UNIDAD</span>
                    </mat-button-toggle>
                    <mat-button-toggle [value]="'CAJA'">
                        <span class="text-uppercase">CAJA</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <span *ngIf="discount" class="discount-bubble sale">-{{discount}}%</span>
            </div>
            <div *ngIf="products.length > 0; else productsNotFound">
                <owl-carousel class="w-100" [options]="SlideOptions" [items]="products"
                    [carouselClasses]="['owl-theme', 'sliding']">
                    <div class="item" *ngFor="let product of products">
                        <div class="d-flex flex-column justify-content-center align-items-center pt-2 w-100"
                            style="height: 70vh; width:100%">
                            <img *ngIf="product.producto.stock <= 0"  src="../../../../assets/images/agotado.png"alt="Agotado" class="agotado">
                            <div class="bubbles">
                                <div class="price-bubble shadow d-flex justify-content-center align-items-center">
                                    <div class="d-flex flex-column justify-content-center align-items-center"
                                        *ngIf="discount && discount > 0; else normalPrice">
                                        <span>{{(product.precio - product.precio*(discount/100)) | currency : 'USD' : true :
                                            '1.0-2'}}</span>
                                        <span class="line-through small">{{product.precio | currency : 'USD' : true :
                                            '1.0-2'}}</span>
                                    </div>
                                    <ng-template #normalPrice>
                                        <span>{{product.precio | currency : 'USD' : true : '1.0-2'}}</span>
                                    </ng-template>
                                </div>
                                <div *ngIf="product.unidades > 1"
                                    class="caja-bubble shadow d-flex justify-content-center align-items-center">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <span><i class="fas fa-box-open"></i> x{{product.unidades}}</span>
                                    </div>
                                </div>
                            </div>
                            <img class="ml-auto mr-auto product-img" style="height: 35vh;width:auto"
                                src={{product.producto.img_name}}>
                            <button *ngIf="product.producto.stock_real > 0" (click)="add(product)" matBadge={{getProductCount(product)}} matBadgeOverlap="true"
                                class="add-btn shadow btn d-flex justify-content-center align-items-center">
                                <li class="fa fa-plus"></li>
                            </button>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingProducts>
    <div class="d-flex justify-content-center pt-4 pb-4" [class.loading-expanded]="!products" style="height: 70vh;">
        <div class="align-self-center">
            <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>
            <app-afiliado-error *ngIf="error" (reload)="load()" [errorDetails]="errorDetails"></app-afiliado-error>
        </div>
    </div>
</ng-template>
<ng-template #productsNotFound>
    <div class="d-flex justify-content-center align-items-center small" style="height: 35vh;">
        No se encontraron productos
    </div>
</ng-template>