<h1 mat-dialog-title class="text-center mat-dialog-title">
    <li class="fa fa-check ml-3 mr-2"></li>
    Registro exitoso
</h1>
<div mat-dialog-content class="mat-dialog-content">
    <div class="less-padding">
        <h6>¿Qué sigue ahora?</h6>
        <p class="text-justify">
            Sus datos serán verificados en breve y nuestro equipo estará comunicándose con usted.
        </p>
        <p class="text-justify mt-1">
            Dependiendo del volumen de registros actual, el proceso de aceptación de nuevos afiliados puede
            tomar alrededor de 1 a 3 días hábiles.
        </p>
    </div>
</div>
<div mat-dialog-actions>
    <div class="d-flex w-100 btn-container">
        <button class="cancel action_button flex-fill" mat-button mat-dialog-close>Ok</button>
    </div>
</div>