<section id="crm">
    <div class="container-fluid">
        <div class="title">
            <div class="d-flex">
                <a class="nav-btn" (click)="dump()" #tooltip="matTooltip"
                    matTooltip="Exportar en formato Excel">
                    <li class="fas fa-file-download"></li>
                </a>
                <a  [routerLink]="['/admin/app',{ outlets: { adr: ['historial-descuentos'] } }]" class="nav-btn" #tooltip="matTooltip" 
                    matTooltip="Historial de Descuentos">
                    <li class="fas fa-gift"></li>
                </a>
            </div>
        </div>
        <div class="">
            <div class="row" *ngIf="!loading && !error; else loadingTable">
                <div class="col-12">
                    <div class="table-container">
                        <table mat-table [dataSource]="affiliates">

                            <ng-container matColumnDef="nombre_empresa">
                                <th mat-header-cell *matHeaderCellDef> Affiliado </th>
                                <td mat-cell *matCellDef="let affiliate">
                                    {{affiliate.nombre_empresa}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="facturado">
                                <th mat-header-cell *matHeaderCellDef> Facturado </th>
                                <td mat-cell *matCellDef="let affiliate">
                                    <span
                                        *ngIf="affiliate.facturado;else zeroTmp">{{affiliate.facturado | currency : 'USD' : true : '1.2-2'}}</span>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="cantidad_compras">
                                <th mat-header-cell *matHeaderCellDef> Cant. Pedidos </th>
                                <td mat-cell *matCellDef="let affiliate">
                                    <span>{{affiliate.cantidad_compras}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ultima_compra">
                                <th mat-header-cell *matHeaderCellDef> Ult. Pedido </th>
                                <td mat-cell *matCellDef="let affiliate">
                                    <span
                                        *ngIf="affiliate.ultima_compra;else notBuytTpm">{{ getDate(affiliate.ultima_compra) | dateAgo }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let affiliate">
                                    <div class="d-flex w-100 justify-content-center">
                                        <button #tooltip="matTooltip" matTooltip="Ver detalle" class="btn btn-light edit-btn"
                                        [routerLink]="['/admin/app',{ outlets: { adr: ['crm', affiliate.id] } }]">
                                        <li class="fa fa-edit"></li>
                                    </button>
                                    </div>
                                </td>

                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
            <mat-paginator [hidden]="loading || error" [length]="resultsLength" [pageSize]="15" showFirstLastButtons
                (page)="load()">
            </mat-paginator>
        </div>
    </div>
</section>

<ng-template #loadingTable>
    <div class="loading d-flex justify-content-center align-items-center p-4">
        <div class="p-1" mat-raised-button *ngIf="loading">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
            <li class="fa fa-redo-alt"></li>
        </button>
    </div>
</ng-template>

<ng-template #activeTemplate>
    <button mat-button>
        <li class="fa fa-eye-slash"></li>
    </button>
</ng-template>

<ng-template #zeroTmp>
    <span>$0.00</span>
</ng-template>

<ng-template #notBuytTpm>
    Sin pedidos aún
</ng-template>