#snackbar {
    display: none;
    min-width: 240px;
    padding: 40px;
    margin-left: -125px;
    background-color: #000000c9;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40%;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #snackbar.show {
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
    animation: fadein 0.5s, fadeout 0.5s 1s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 30%; opacity: 0;} 
    to {bottom: 40%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 30%; opacity: 0;}
    to {bottom: 40%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 40%; opacity: 1;} 
    to {bottom: 30%; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 40%; opacity: 1;}
    to {bottom: 30%; opacity: 0;}
  }