<section id="nuevoadmin">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver a Super Admin"
                [routerLink]="['/admin/app',{ outlets: { adr: ['super-admin-panel'] } }]">
                <li class="fa fa-arrow-left"></li>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row pl-3 pr-3">
            <div class="col-12 bg-white text-center p-3" style="border-radius: 10px;">
                <h5 class="text-uppercase">Crear nuevo usuario</h5>
                <form [formGroup]="form">
                    <input formControlName="email" class="form-control mt-4" type="email" placeholder="Ingrese un email">
                    <select formControlName="access_level" class="form-control mt-2" name="access" id="access">
                        <option value="">Seleccione un nivel de acceso</option>
                        <option value="99">Super Admin</option>
                        <option value="98">Vendedor</option>
                        <option value="97">Depositario</option>
                    </select>
                    <button [disabled]="form.invalid" *ngIf="!loading;else loadingTmp" (click)="submit()" class="btn btn-success bg-success text-white w-100 mt-3 mb-3 text-uppercase"
                        mat-button>Guardar</button>

                </form>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingTmp>
    <div *ngIf="loading" class="loading d-flex justify-content-center align-items-center w-100 pt-2">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</ng-template>