<!-- Vista de Agregar Usuario -->
<section id="nuevoadmin">
    <!-- Botones del Navbar -->
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['super-admin-panel'] } }]">
                <li class="fa fa-arrow-left"></li>
            </a>
        </div>
    </div>
    <!-- Container de los Componentes -->
    <div class="container-fluid">
        <div class="row pl-3 pr-3">
            <div class="col-12 bg-white text-justify p-3">
                <h5 class="text-uppercase">Crear usuario</h5>

                <form [formGroup]="adminForm">

                    <h6>Datos del Usuario</h6>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Primer Nombre</mat-label>
                        <input matInput placeholder="123456789" formControlName="primer_nombre" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Segundo Nombre</mat-label>
                        <input matInput placeholder="123456789" formControlName="segundo_nombre" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Primer Apellido</mat-label>
                        <input matInput placeholder="123456789" formControlName="primer_apellido" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Segundo Apellido</mat-label>
                        <input matInput placeholder="123456789" formControlName="segundo_apellido" type="text">
                    </mat-form-field>

                    <div>
                        <mat-form-field appearance="outline" class="container_box">
                            <mat-label>Tipo</mat-label>
                            <mat-select disableRipple formControlName="tipo_doc_user">
                                <mat-option *ngFor="let t_doc of tipo_documentos" value={{t_doc.id}}>
                                    {{t_doc.t_doc}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="container_box_space">
                            <mat-label>Cédula</mat-label>
                            <input matInput formControlName="cedula" placeholder="123456789" type="text">
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Rol</mat-label>
                        <mat-select disableRipple formControlName="rol">
                            <mat-option *ngFor="let rol of roles" value={{rol.id}}>
                                {{rol.rol}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <h6>Información de contacto</h6>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="consulpagos@example.com" required
                            formControlName="email">
                    </mat-form-field>

                    <div class="direction_form">
                        <div class="direction">
                            <mat-form-field class="container_box_direction" appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <textarea matInput placeholder="Av. Ernesto Blohm" formControlName="direccion"
                                    type="text" maxlength="510" minlength="20">
                            </textarea>
                            </mat-form-field>
                        </div>

                        <div class="direction">
                            <mat-form-field class="container_box_direction" appearance="outline">
                                <mat-label>Punto de referencia</mat-label>
                                <textarea matInput placeholder="Pasando Proteccion animal"
                                    formControlName="pto_referencia" type="text" maxlength="510" minlength="20">
                            </textarea>
                            </mat-form-field>
                        </div>

                        <div class="direction">
                            <mat-form-field class="container_box_direction" appearance="outline">
                                <mat-label>Localidad</mat-label>
                                <textarea matInput placeholder="Pasando Proteccion animal" formControlName="localidad"
                                    type="text" maxlength="510" minlength="20">
                            </textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Codigo Postal</mat-label>
                        <input matInput formControlName="codpostal" placeholder="1080" type="text" maxlength="5"
                            (keypress)="onlyNumberKey($event)">
                    </mat-form-field>

                    <div class="form_tlf">
                        <div class="btn_tlf">
                            <ngx-intl-tel-input [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[
                              SearchCountryField.Iso2,
                              SearchCountryField.Name
                            ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Venezuela"
                                [maxLength]="15" [phoneValidation]="true" [separateDialCode]="true"
                                [numberFormat]="PhoneNumberFormat.National" formControlName="phone_user">
                            </ngx-intl-tel-input>
                        </div>
                    </div>

                    <h6>Datos de la Sucursal</h6>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Estado</mat-label>
                        <mat-select disableRipple formControlName="estado">
                            <mat-option *ngFor="let estado of estados" value={{estado.id}}>
                                {{estado.estado}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Sucursal / OCC</mat-label>
                        <mat-select disableRipple formControlName="occ">
                            <mat-option *ngFor="let sucrusal of sucursales" value={{sucrusal.id}}>
                                {{sucrusal.nombre}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="btn_form">

                        <h6>Contraseña para el Usuario</h6>

                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                type="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide">
                                <i class="fas fa-eye-slash"></i>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="container_box_space">
                            <mat-label>Comisionable</mat-label>
                            <mat-select disableRipple formControlName="comisionable">
                                <mat-option *ngFor="let id of comisionables" value={{id.id}}>
                                    {{id.nombre}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <app-action-btn (onClick)="save()" [loading]="loading" [text]="'Registrar'"
                        [isDisabled]="adminForm.invalid || loading">
                    </app-action-btn>

                    </div>
                </form>
                <div>
                    <strong>Form value:</strong>
                    <pre>{{ adminForm.value | json }}</pre>
                  </div>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingTmp>
    <div *ngIf="loading" class="loading d-flex justify-content-center align-items-center w-100 pt-2">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</ng-template>