.title {
    font-family: "Montserrat", "black" !important;
    font-weight: 600;
    color: #414c59;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.nav-btn {
    color: #79798a;
    height: 45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: whitesmoke;
}

.container_box_space {
    margin-right: 10px;
}

.container_box {
    width: 80px;
    margin-right: 10px;
}

.btn_tlf{
    margin-bottom: 1rem;
}

.form_tlf{
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    align-items: center !important;
}

::ng-deep .mat-tab-label {
    color: black;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", "black" !important;
    font-size: 14px;
}

.direction {
    // width: 500px;
    margin: 0px 20px 0px 0px;
}

.direction_form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
