<section id="add-almacenes">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['almacenes'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <div class="box-title d-flex justify-content-center">
                <h5 class="bold uppercase mt-3">Agregar Almacén</h5>
            </div>
            <form [formGroup]="form">
                <div class="container">

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="descripcion" placeholder="Nombre del Almacén" type="text"
                            maxlength="255" minlength="3">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Estado</mat-label>
                        <mat-select disableRipple formControlName="estado" (selectionChange)="getEstado($event.value)">
                            <mat-option *ngFor="let estado of estados" value={{estado.id}}>
                                {{estado.estado}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Ciudad</mat-label>
                        <mat-select disableRipple formControlName="ciudad" (selectionChange)="getOccs($event.value)">
                            <mat-option *ngFor="let ciudad of ciudades" value={{ciudad.id}}>
                                {{ciudad.ciudad}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Sucursal / OCC</mat-label>
                        <mat-select disableRipple formControlName="sucursal">
                            <mat-option *ngFor="let sucrusal of occs" value={{sucrusal.id}}>
                                {{sucrusal.nombre}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="ubicacion" placeholder="Av. Los cacaguates" type="text"
                            maxlength="255" minlength="3">
                    </mat-form-field> -->
                </div>
            </form>

            <div class="btn_form">
                <button (click)="clear()" class="btn btn-danger bg-danger text-white w-25 mt-3 mb-3 text-uppercase"
                    mat-button>
                    Limpiar
                </button>

                <button (click)="save()" class="btn btn-success bg-success text-white w-25 mt-3 mb-3 text-uppercase"
                    mat-button [disabled]="form.invalid">
                    Guardar
                </button>
            </div>

        </div>
    </div>
</section>