<section id="detalle_pedido_admin">
    <div class="container-fluid">
        <div class="title">
            <div class="d-flex">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver a pedidos"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['pedidos'] } }]">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div>
        </div>
        <div class="order-container mb-4" *ngIf="order;else loadingOrder">
            <div class="row">
                <div class="col-8" style="padding: 0;">
                    <div class="row bg-white rounded">
                        <div class="col-12 w-100 pt-3 pb-3">
                            <div class="d-flex pl-3 pr-2 pt-2 pb-4 w-100">
                                <div class="d-flex flex-column">
                                    <h5 class="text-uppercase mb-1">PEDIDO N°{{id}}</h5>
                                    <h6>El total es
                                        {{order.total | currency : 'USD' : true : '1.2-2'}}</h6>
                                    <span class="small">{{order.created_at | date}}</span>
                                </div>
                                <div class="ml-auto">
                                    <div class="d-flex" *ngIf="!save_loading; else saveLoadingTmp">
                                        <button mat-button *ngIf="order.aceptado == 0; else orderAccepted"
                                            class="btn btn-success bg-success text-uppercase text-white pl-4 pr-4 mr-3"
                                            (click)="acceptOrder(order)">Aceptar</button>
                                            <ng-template #orderAccepted>
                                                <span class="text-dark text-uppercase mr-3 d-flex align-items-center">{{order.estado}}</span>
                                            </ng-template>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12 pb-3" *ngFor="let venta of order.ventas">
                            <div class="d-flex align-items-center">
                                <div class="ml-3">
                                    <img src={{venta.presentacion.producto.img_name}}
                                        alt={{venta.presentacion.producto.producto}} class="img img-fluid">
                                </div>
                                <div class="ml-auto" style="width: 200px;">
                                    <p>{{venta.presentacion.producto.producto}}</p>
                                </div>
                                <div class="ml-auto">
                                    <p [ngClass]="{'mr-3': order.cobrado == 1}">{{venta.unidades}} x {{venta.presentacion.descripcion}}</p>
                                </div>
                                <div class="ml-auto" *ngIf="order.cobrado == 0">
                                    <p class="mr-3">
                                        {{(venta.presentacion.precio*venta.unidades - venta.presentacion.precio*venta.unidades*(order.descuento/100)) | currency : 'USD' : true : '1.2-2'}}
                                    </p>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="ml-auto">
                                    <div class="d-flex flex-column">
                                        <table class="table table-borderless mr-2">
                                            <tr hidden>
                                                <td>
                                                    En Total
                                                </td>
                                                <td>
                                                    {{order.total | currency : 'USD' : true : '1.2-2'}}
                                                </td>
                                            </tr>
                                            <tr hidden>
                                                <td>
                                                    Delivery

                                                </td>
                                                <td>
                                                    {{0 | currency : 'USD' : true : '1.2-2'}}
                                                </td>

                                            </tr>
                                            <tr>
                                                <th>
                                                    Total:
                                                </th>
                                                <th>
                                                    {{order.total | currency : 'USD' : true : '1.2-2'}}
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div *ngIf="trx" class="row mb-3 rounded" style="background-color: white;">
                        <div class="col-12 pt-3 pl-3 pr-3">
                            <h6>DETALLE DE LA TRANSACCIÓN</h6>
                            <table class="table table-borderless">
                                <tr>
                                    <th>ID</th>
                                    <td>{{trx.id_trx}}</td>
                                </tr>
                                <tr>
                                    <th>STATUS PAGO</th>
                                    <td>{{trx.statuspago_f}}</td>
                                </tr>
                                <tr>
                                    <th>DETALLE</th>
                                    <td>{{trx.detalle_pedido}}</td>
                                </tr>
                                <tr>
                                    <th>PROGRAMAR</th>
                                    <td>{{trx.programar | date:'short'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row rounded" style="background-color: white;">
                        <div class="col-12 pt-3 pl-3 pr-3">
                            <h6>EMPRESA</h6>
                            <p class="text-dark">{{affiliate.nombre_empresa}}</p>
                        </div>
                        <div class="col-12 pt-3 pl-3 pr-3">
                            <h6>CREDITO</h6>
                            <p class="text-dark" *ngIf="affiliate.credito;else none">{{affiliate.credito}} días</p>
                        </div>
                        <div class="col-12 pt-3 pl-3 pr-3">
                            <h6>DESCUENTO</h6>
                            <p class="text-dark" *ngIf="order.descuento;else none">-{{order.descuento}}%</p>
                        </div>
                        <div class="col-12 pt-3 pl-3 pr-3">
                            <h6>
                                DIRECCIÓN
                            </h6>
                            <table class="table table-borderless">
                                <tr>
                                    <th>CALLE</th>
                                    <td>{{address.calle}}</td>
                                </tr>
                                <tr>
                                    <th>EDIFICIO</th>
                                    <td>{{address.edificio}}</td>
                                </tr>
                                <tr>
                                    <th>SECTOR</th>
                                    <td>{{address.sector}}</td>
                                </tr>
                                <tr>
                                    <th>REFERENCIA</th>
                                    <td>{{address.referencia}}</td>
                                </tr>
                                <tr>
                                    <th>ZONA</th>
                                    <td>{{address.zona}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-12 pt-3 pl-3 pr-3">
                            <h6>TELÉFONOS</h6>
                            <table class="table table-borderless">
                                <tr>
                                    <th>PRINCIPAL</th>
                                    <td>
                                        <div class="d-flex">
                                            <i class="fab fa-whatsapp text-success" aria-hidden="true"></i>
                                            <a class="ml-2" href={{getWALink(affiliate.telefono)}} target="_blank">
                                                {{affiliate.telefono}}</a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th>AUXILIAR</th>
                                    <td>
                                        <div class="d-flex">
                                            <i class="fab fa-whatsapp text-success" aria-hidden="true"></i>
                                            <a class="ml-2" href={{getWALink(affiliate.telefono_auxiliar)}}
                                                target="_blank">{{affiliate.telefono_auxiliar}}</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingOrder>
    <div class="loading d-flex justify-content-center align-items-center p-4">
        <div class="p-1" *ngIf="loading">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
            <li class="fa fa-redo-alt"></li>
        </button>
    </div>
</ng-template>
<ng-template #none>
    Ninguno
</ng-template>
<ng-template #saveLoadingTmp>
    <div class="d-flex justify-content-center align-content-center pr-5 pl-5">
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
</ng-template>