<section id="rol">



    <div class="container-fluid">
        
        <div style="background-color: #fff; border-radius: 10px;">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Agregar Rol"  
            [routerLink]="['/admin/app',{ outlets: { adr: ['add-rol'] } }]" >
                <li class="fas fa-user-lock"></li>
            </a>
            <mat-tab-group>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span 
                        matBadge={{countNuevos}} 
                        matBadgeSize="small" 
                        matBadgeOverlap="false"
                        matBadgePosition="before">
                        Listado de Roles
                        </span>
                    </ng-template>
                    <app-tabla-roles
                    (editRol)="editRol($event)" 
                    (count)='countNuevos = $event' 
                    class="w-100" 
                    [access_level]="0">
                    </app-tabla-roles>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>