<section id="prueba-ficha">
    <div class="container-fluid">

        <div style="background-color: #fff; border-radius: 10px;">
            <div>
                <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['prueba'] } }]">
                    <li class="fas fa-arrow-left"></li>
                </a>
            </div>
            <mat-tab-group>
                <mat-tab label="Venta">
                    <ng-template matTabContent>
                        <div class="container-fluid rounded bg-white mb-5">
                            <h4 class="text-center">
                                Prueba del equipo: {{equipos.cod_serial}}
                            </h4>

                            <div class="sub-title">
                                <div class="text-sub-title">
                                    <h6>
                                        <strong>Solicitud Nº: </strong>
                                        {{equipos.solicitud_id}}
                                    </h6>
                                </div>

                                <div class="text-sub-title">
                                    <h6>
                                        <strong>Marca: </strong>
                                        {{equipos.items[0].marca}}
                                    </h6>
                                </div>

                                <div class="text-sub-title">
                                    <h6>
                                        <strong>Modelo: </strong>
                                        {{equipos.items[0].modelo}}
                                    </h6>
                                </div>
                            </div>
                        </div>



                        <div class="container" style="padding-bottom: 2rem; text-align: center;">
                            <form [formGroup]="form">
                                <mat-form-field appearance="outline" class="container_box_space">
                                    <mat-label>Serial POS</mat-label>
                                    <input matInput type="text" readonly formControlName="serial">
                                </mat-form-field>
                            </form>
                            <div>
                                <button mat-raised-button (click)="findPos()"
                                    *ngIf="this.check.get('check').value == '1'">
                                    Asignar otro serial POS
                                </button>
                            </div>
                        </div>

                        <div class="container" style="padding-bottom: 2rem; text-align: center;">
                            <div>
                                <mat-form-field appearance="outline" class="container_box_space">
                                    <mat-label>Terminal</mat-label>
                                    <input matInput type="text" value={{equipos.afiliado}} disabled>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="container_box_space">
                                    <mat-label>Código Afiliado</mat-label>
                                    <input matInput type="text" value={{equipos.terminal}} disabled>
                                </mat-form-field>
                            </div>
                            <form [formGroup]="sim">
                                <div *ngFor="let s of equipos.sim; let i = index">
                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Modelo SIM {{i + 1}}</mat-label>
                                        <input matInput type="text" value={{s.modelo}} disabled>
                                    </mat-form-field>

                                    <p>ARREGLAR QUE SE DUPLICA LA SIM HACER FORM DINAMICO</p>

                                    <mat-form-field appearance="outline" class="container_box_space">
                                        <mat-label>Serial SIM {{i + 1}}</mat-label>
                                        <input matInput type="text" value={{s.cod_serial}} formControlName="sim">
                                    </mat-form-field>

                                    <button mat-raised-button (click)="findSim(s.modelo, s.cod_serial)"
                                        *ngIf="this.check.get('check').value == '2'">
                                        Asignar otro serial SIM
                                    </button>
                                </div>
                            </form>

                            <form [formGroup]="check">
                                <mat-radio-group aria-label="Select an option" formControlName="check">
                                    <mat-radio-button value="3">TODO OK</mat-radio-button>
                                    <mat-radio-button value="1">POS dañado</mat-radio-button>
                                    <mat-radio-button value="2">SIM dañada</mat-radio-button>
                                </mat-radio-group>
                            </form>

                            
                            <form [formGroup]="form">
                                <mat-form-field appearance="outline" class="container_box_space">
                                    <mat-label>Nombre del responsable</mat-label>
                                    <input matInput type="text" formControlName="name">
                                </mat-form-field>
                            </form>


                            <button mat-raised-button (click)="submit()"
                                *ngIf="this.check.get('check').value == '2' || this.check.get('check').value == '3'">
                                Guardar POS BUENO
                            </button>

                            <button mat-raised-button (click)="submit()" *ngIf="this.check.get('check').value == '1'">
                                Prueba POS MALO
                            </button>

                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>