<app-navbar-home [component]="'inicio'"></app-navbar-home>

<div class="container-fluid row">
    <!--Home Navbar-->
    <section id="inicio" class="inicio d-flex justify-content-center col-12">
        <div class="align-self-center">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center text-center">
                    <h1 class="heading-1">
                        Sea una botella o sean miles
                        <br>
                        Distribuimos el mejor ron, al mejor precio
                        <hr style="width:12%; border: 1px solid #52AD9C;">
                    </h1>
                    <h2 class="retailers">
                        Evolucionamos la manera <br> de vender licor
                    </h2>
                    <button mat-button (click)="openDialog()" class="btn btn-pedidos ml-auto mr-auto pt-2 pb-2">Haga su
                        pedido</button>
                </div>
                <div class="col-12 logos p-4">
                    <h3 class="our-clients text-center mb-4">Nuestros clientes:</h3>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <img src="../../../../../assets/images/LogoDeCopa.png" alt="De Copa" class="logoimg">
                        </div>
                        <div class="col d-flex justify-content-center">
                            <img src="../../../../../assets/images/LogoResuelve.png" alt="Resuelve" class="logoimg">
                        </div>
                        <div class="col d-flex justify-content-center">
                            <img src="../../../../../assets/images/LogoCusicaEat.png" alt="Cusica" class="logoimg">
                        </div>
                        <div class="col d-flex justify-content-center">
                            <img src="../../../../../assets/images/LogoRonCola.png" alt="Ron Cola" class="logoimg">
                        </div>
                        <div class="col d-flex justify-content-center">
                            <img src="../../../../../assets/images/Asset 77.svg" alt="Go to shop" class="logoimg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="sobre-nosotros" class="d-flex justify-content-center col-12 sobre-nosotros">
        <div class="align-self-center">
            <div class="row">
                <div class="col-md-10 col-sm-8 col-7 aboutus">
                    <h2 class="text-about">Sobre</h2>
                    <h1 class="heading-1us">
                        Nosotros
                        <hr style="border: 1px solid #52AD9C; width:10%; margin-left: inherit;">
                    </h1>
                    <div class="ppp sobreus infAboutUs">
                        <p>A comienzos de 2019 vimos la necesidad de modernizar la manera tradicional de distribuir
                            licor, en Grupo Altius encontramos la forma de hacerlo fácil, rápido y seguro para nuestros
                            clientes. Por eso es que somos la nueva y más confiable distribuidora de licor en el país.
                        </p>
                        <p>Trabajamos constantemente para ofrecer cada día un mejor servicio, y ser la opción de
                            confianza de las empresas venezolanas.</p>
                        <p>Hoy, en nuestra búsqueda de mejorar la experiencia de comprar licor, ofrecemos una plataforma
                            digital innovadora en la que el cliente puede hacer sus pedidos, al mayor o al detal, de la
                            manera más práctica posible.</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-5 iconside">
                    <img src="../../../../../assets/images/Asset 17.svg" alt="Grupo Altius" class="logoabout about1">
                    <p class="whitetitle about11">+1000</p>
                    <p class="text-aboutsub about111">CLIENTES</p>
                    <br>
                    <img src="../../../../../assets/images/Asset 18.svg" alt="Grupo Altius" class="logoabout about2">
                    <p class="whitetitle about22">-24hrs</p>
                    <p class="text-aboutsub about222">DESPACHO</p>
                    <br>
                    <img src="../../../../../assets/images/Asset 19.svg" alt="Grupo Altius" class="logoabout about3">
                    <p class="whitetitle about33">+13M</p>
                    <p class="text-aboutsub about333">CAJAS
                        <br>
                        MOVILIZADAS
                    </p>
                    <br>

                </div>

            </div>
        </div>
    </section>

    <section id="portafoliorones" class="w-100 h-100">
        <app-carrusel-landing></app-carrusel-landing>
    </section>

    <section id="contactanos" class="contactanos d-flex justify-content-center col-12">
        <div class="align-self-center">
            <div class="ultimo w-100">
                <h1 class="heading-2us">
                    CONTÁCTANOS
                    <hr style="margin-top: -1px; border: 1px solid #52AD9C; width:30%; position: inherit;">
                </h1>
                <h2 class="retailerss subheading">
                    Haz click para enviar <br> un WhatsApp o un email.
                </h2>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <a href="https://api.whatsapp.com/send?phone=04241464762&text=Quiero%20comunicarme%20con%20GrupoAtius"
                    target="_blank"
                    class="btn btn-telf d-flex justify-content-center align-items-center mt-3 mb-3 mr-auto ml-auto btn-contactanos ">
                    <span class="d-flex align-items-center"><span class="whatsapp-icon mr-2"></span> (424) 146
                        4762</span></a>
                <a href="mailto:contacto@altiusgrupo.com"
                    class="btn btn-gmail d-flex justify-content-center align-items-center mr-auto ml-auto btn-contactanos ">
                    <span class="d-flex align-items-center">
                        <li class="fa fa-envelope mr-2"> </li>hey@altiusgrupo.com
                    </span> </a>
            </div>
            <div class="row-eq-height">
                <br>
                <img src="../../../../../assets/images/Asset 29.svg" alt="Grupo Altius"
                    style="width: auto; height: 150px;">

            </div>
        </div>
    </section>
</div>
<app-sello></app-sello>