.container-fluid{
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  overflow-y: hidden;
  max-width: 100vw;
  background-color: #000000;
}

.inicio {
  background-image: url("../../../../../assets/images/FondoSeccionInicio.jpg"); 
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  padding-top: 85px;
}

.info {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 95px;
}

.heading-1 {
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', 'extra-bold';
  font-weight: 800;
  font-size: 29.5px;
  letter-spacing: 1.3px;
}

.retailers {
  color: white;
  font-family: 'Montserrat', 'regular';
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.3px;
}

.retailerss{
  color: white;
  font-family: 'Montserrat', 'regular';
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.3px;
}

.btn-pedidos {
  text-transform: uppercase;
  font-family: 'Montserrat', 'medium';
  font-weight: 500;
  font-size: 23.5px;
  color: black !important;
  background-color: #C2FFF8;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 110px;

}

.logos{
  margin-top: 40px;
  width: 80%;
}

.logoimg {
  width: auto; 
  height: 50px; 
  margin-bottom: 8px;
}

.sobre-nosotros {
  background-image: url("../../../../../assets/images/FondoSeccionAboutUs.jpg");
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 105vh;
  padding-top: 60px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}

.iconside {
  align-content: center;
  justify-content: right;
  margin-top: 25px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-style: bold;
}

.logoabout {
  width: auto; 
  height: 60px; 
  margin-bottom: 8px;
}

.bg-roncola{
    background-color: #07423f;
}
.bgcomplete{
    background-color: #04302d !important;
}
  
  .contactanos {
    background-image: url("../../../../../assets/images/FondoNegroAzul.jpg");
    background-color: #000000;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
  }


  .heading-1us {
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', 'extra-bold';
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 1.3px;
    margin-bottom: 30px;
  }

  .heading-2us {
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', 'extra-bold';
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 1.3px;
  }

  .btn-telf {
    text-transform: uppercase;
    color: black !important;
    background-color: #C2FFF8;
    font-family: 'Montserrat', 'medium';
    font-weight: 700;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 110px;
    width: 327.09px;
    height: 50px;
  }


  .btn-gmail {
    font-family: 'Montserrat', 'medium';
    font-weight: 700;
    font-size: 18px;
    color: white;
    background-color: #383838;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 110px;
    margin-top: 25px;
    width: 327.09px;
    height: 50px;
  }
  

  
  .texto{
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .text-portafolio{
    color: #C2FFF8;
    font-family: 'Montserrat', 'light';
    font-weight: 300 !important;
    font-size: 46px;
  }

  .text-about {
    color: #52AD9C;
    font-family: 'Montserrat', 'light';
    font-weight: 300 !important;
    font-size: 46px;
  }
  
  .text-aboutsub {
    color: #C2FFF8;
    font-family: 'Montserrat', 'light';
    font-weight: 400;
    font-size: 16px;
  }

  .infAboutUs {
   // margin-left: 50px;
    color:white;
    margin-top: 15px;
  }
  
  .ppp {
    font-family: 'Montserrat', 'regular';
    font-style: italic;
    font-weight: 200;
    color: white;
    font-size: 18.5px;
    letter-spacing: 1.8px;
  }

  .whitetitle {
    color: white;
    font-family: 'Montserrat', 'extra-bold';
    font-weight: 800;
    font-size: 27px;
    letter-spacing: 1.2px;
  }
  
  .portafoliorones {
    background-color: #000000;
    min-height: 120vh;
  }

  .row-circles{
    background-image: url("../../../../../assets/images/FondoBarraRon.png");
    background-size: 100% 85%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .PORTAFOLIO-RONES {
    //  width: 100%;
    text-align: center;
   //position: relative;
    //  top: 50%;
    // -ms-transform: translateY(-50%);
    // -webkit-transform: translateY(-50%);
    //transform: translateX(50%);
    //padding-left: 80%;
    color: white;
    text-transform: bold;
    font-size: 35px !important;
  }
  
  #circle {
    width: 400px;
    height: 400px;
  //  -webkit-border-radius: 200px;
   // -moz-border-radius: 160px;
    border-radius: 200px;
    background:#0f605a;
  //  margin-top: 300px;
    //margin-bottom: -250px;
   //transform: translate(75px,215px);
    z-index: 0;
  }
  
  .imagenencima {
    height: 315px;
    width: auto;
    //transform: translate(440%,-15%);
  }

  .imagen{
    height: 485px;
    width: auto;
    //transform: translate(120%,-5%);
    //transform: translate(440%,-15%);
  }

  #circlesmall {
    width: 400px;
    height: 400px;
  //  -webkit-border-radius: 200px;
   // -moz-border-radius: 160px;
    border-radius: 200px;
    background:#0f605a;
  //  margin-top: 300px;
    //margin-bottom: -250px;
   //transform: translate(75px,215px);
    z-index: 0;
  }
  
  .ultimo {
    padding-top: 120px;
  }

  .aboutus{
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .whatsapp-icon{
    height: 20px;
    width: 20px;
    background-image: url('../../../../../assets/images/whatsapp.svg');
    background-position: center;
    background-size: cover;
  }

@media only screen and (max-width: 992px){
  #inicio{
      min-height: 100vh;
      padding-top: 85px;
  }
 
}

@media only screen and (max-width:768px){
    .RON-CHIQUITO{
      margin-top: 40px;
    }
  
    .row-circles{
      background-size: 100% 60%;
    }

    .heading-2us {
      font-size: 36px;
    }

    .subheading{
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .ultimo{
      padding-bottom: 20px;
    }
    
    .aboutus{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .our-clients{
      font-size: 16px;
    }
    
    .portafoliorones {
      min-height: 100vh;
    }

    .sobre-nosotros {
      min-height: 100vh;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }


  @media only screen and (max-width:480px){
    #inicio, #portafoliorones, #contactanos, #sobre-nosotros{
      transform: scale(1.01); 
    }

    .aboutus{
      padding-left: 30px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .sobre-nosotros, #inicio{
      min-height: 100vh;
    }

    .btn-pedidos{
      padding: 5px;
      padding-left:30px;
      padding-right: 30px;
      font-size: 20x;
    }
    .heading-1{
      font-size: 18px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .retailers{
      font-size: 20px;
    }
    .logoimg{
      width: 70px;
      height: 30px;
    }
    .iconside img {
      width: 35px;
      height: 35px;
    }
    .iconside p {
      font-size: 12px;
    }
    .ppp{
      font-size: 10px;
    }
    .text-about{
      font-size: 30px;
    }
    .heading-1us{
      font-size: 28px;
    }

    #circle {
      width: 200px;
      height: 200px;
    //  -webkit-border-radius: 200px;
     // -moz-border-radius: 160px;
      border-radius: 100px;
      background:#0f605a;
    //  margin-top: 300px;
      //margin-bottom: -250px;
     //transform: translate(75px,215px);
      z-index: 0;
    }
    
    .imagenencima {
      height: 150px;
      width: auto;
      //transform: translate(440%,-15%);
    }
  
    .imagen{
      height: 250px;
      width: auto;
      //transform: translate(120%,-5%);
      //transform: translate(440%,-15%);
    }
  
    #circlesmall {
      width: 150px;
      height: 150px;
      border-radius: 75px;
      background: #0f605a;
      //transform: translateX(120%);
      //margin-top: -140px;
      //margin-left: -180px;
    }

    .btn-contactanos{
      font-size: 14px;
      max-width: 80%;
      margin-bottom: 10px !important;
      margin-top: 10px !important;
    }

    .text-portafolio{
      font-size: 26px;
    }
}

@media only screen and (max-width:400px){

  .iconside img {
    width: 30px;
    height: 30px;
  }
  .iconside p {
    font-size: 12px;
  }
  .ppp{
    font-size: 8px;
  }

  .btn-pedidos{
    padding: 5px;
    padding-left:20px;
    padding-right: 20px;
    font-size: 16px;
  }
  .heading-1{
    font-size: 14px;
  }
  .heading-2us{
    font-size: 24px;
  }
  .subheading{
    font-size: 12px !important;
  }
  .loguito1,.loguito2,.loguito3,.loguito4{
    width: 60px;
    height: 25px;
  }
  
  .our-clients{
    font-size: 12px;
  }

  .text-portafolio{
    font-size: 24px;
  }

  #portafoliorones{
    height: 100vh;
  }
}


@media (max-height:480px){

  #inicio{
    height: auto;
    padding-bottom: 20px;
    padding-top: 100px;
    overflow-y: auto;
  }

  #portafoliorones, #contactanos{
    height: auto;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #sobre-nosotros,.sobre-nosotros{
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .aboutus{
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .infAboutUs{
    font-size: 10px;
  }

  .btn-pedidos{
    padding: 5px;
    padding-left:30px;
    padding-right: 30px;
    font-size: 20x;
  }
  .heading-1{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .retailers{
    font-size: 20px;
  }
  .logoimg{
    width: 70px;
    height: 30px;
  }
  .iconside img {
    width: 35px;
    height: 35px;
  }
  .iconside p {
    font-size: 12px;
  }
  .ppp{
    font-size: 10px;
  }
  .text-about{
    font-size: 30px;
  }
  .heading-1us{
    font-size: 28px;
  }

  #circle {
    width: 200px;
    height: 200px;
  //  -webkit-border-radius: 200px;
   // -moz-border-radius: 160px;
    border-radius: 100px;
    background:#0f605a;
  //  margin-top: 300px;
    //margin-bottom: -250px;
   //transform: translate(75px,215px);
    z-index: 0;
  }
  
  .imagenencima {
    height: 150px;
    width: auto;
    //transform: translate(440%,-15%);
  }

  .imagen{
    height: 250px;
    width: auto;
    //transform: translate(120%,-5%);
    //transform: translate(440%,-15%);
  }

  #circlesmall {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #0f605a;
    //transform: translateX(120%);
    //margin-top: -140px;
    //margin-left: -180px;
  }

  .btn-contactanos{
    font-size: 14px;
    max-width: 80%;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .text-portafolio{
    font-size: 26px;
  }
}

   
    
  