<h1 mat-dialog-title class="mat-dialog-title">
    <li class="fa fa-edit mr-2"></li>
    <span class="field">
        Cambiar contraseña
    </span>
</h1>

<div mat-dialog-content class="mat-dialog-content">
    <form [formGroup]="changePasswordForm" class="less-padding">
        <label for="name" class="text-uppercase">Contraseña actual</label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf="changePasswordForm.get('password').errors" class="text-danger small">
            <div *ngIf="changePasswordForm.get('password').errors.required">
                Contraseña actual <strong>requerido</strong>
            </div>
        </div>
        <label for="name" class="mt-2 text-uppercase">Nueva contaseña</label>
        <input type="password" class="form-control" formControlName="new_password">
        <div *ngIf="changePasswordForm.get('new_password').errors" class="text-danger small">
            <div *ngIf="changePasswordForm.get('new_password').errors.required">
                Nueva contaseña <strong>requerido</strong>
            </div>
        </div>

        <label for="name" class="mt-2 text-uppercase">Confirmar contraseña</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
        <div *ngIf="changePasswordForm.get('confirmPassword').errors" class="text-danger small">
            <div *ngIf="changePasswordForm.get('confirmPassword').errors.required">
                Confirmar contraseña <strong>requerido</strong>
            </div>
            ​
            <div *ngIf="changePasswordForm.get('confirmPassword').errors.confirmPasswordValidator">
                Las contraseñas <strong>no coinciden</strong>
            </div>
        </div>

    </form>
</div>

<div mat-dialog-actions class="mat-dialog-actions">
    <div class="d-flex w-100 btn-container" *ngIf="!loading; else loadingSpinner">
        <button class="flex-fill cancel action_button" mat-button mat-dialog-close>
            <li class="fa fa-times text-dark"></li>
        </button>
        <button (click)="onSubmit()" class="flex-fill confirm action_button" mat-button cdkFocusInitial>
            <li class="fa fa-check"></li>
        </button>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="d-flex justify-content-center align-items-center w-100">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</ng-template>