#portafolio{
    min-height: calc(100vh - 85px);
    overflow-x: hidden;
    text-align: center;
    position: relative;
    width: 100%;
}

.btn-portafolio {
    text-transform: uppercase;
    font-family: 'Montserrat', 'medium';
    font-weight: 600;
    font-size: 20px;
    //letter-spacing: 1px;
    color: black !important;
    background-color: #C2FFF8;
    padding: 17px;
    border-radius: 110px;
    margin-bottom: 5%;
}

.loading-expanded{
    height: 60vh;
}

@media screen and (max-width: 480px){
    #portafolio{
        min-height: calc(100vh - 60px)
    }
}