<!-- Vista de Agregar Cliente -->
<section id="addClient">
    <!-- Botones del Navbar -->
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['clientela'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>

    <!-- Container de los Componentes -->
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">

            <!-- Container del Stepper -->
            <mat-vertical-stepper linear #stepper>
                <ng-template matStepperIcon="edit">
                    <li class="fa fa-check"></li>
                </ng-template>
                <!-- Parte Inicial -->
                <mat-step>
                    <!-- [stepControl]="client_type" -->
                    <form [formGroup]="client_type">
                        <ng-template matStepLabel>Indique el tipo de cliente</ng-template>
                        <div>
                            <h6>Tipo de Cliente</h6>
                            <mat-radio-group [(ngModel)]="tipo_cliente" formControlName="tipo_cliente">
                                <mat-radio-button *ngFor="let tipo of tipos_clientes" [value]="tipo.id_tipo_cliente"
                                    class="container_box_space">
                                    {{tipo.tipo_cliente}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </form>
                    <!-- Bootn de siguiente strepper -->
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </mat-step>

                <!-- Parte 1 del Stepper -->
                <mat-step>
                    <!-- [stepControl]="client" -->
                    <form [formGroup]="client">
                        <ng-template matStepLabel>Ingresar los datos del cliente</ng-template>
                        <div>
                            <h6>Documento de identidad</h6>
                            <mat-form-field appearance="outline" class="container_box">
                                <mat-label>Tipo</mat-label>
                                <mat-select disableRipple formControlName="tipo_doc">
                                    <mat-option *ngFor="let tipo_documento of tipo_documentos"
                                        value={{tipo_documento.id_tipo_documento}}>
                                        {{tipo_documento.tipo_doc}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Rif</mat-label>
                                <input matInput formControlName="rif" placeholder="123456789" type="text">
                            </mat-form-field>
                        </div>
                        <!-- Formulario Datos del Cliente -->
                        <!-- <div *ngIf="getTipoCliente()=='N'"> -->
                        <div>
                            <h6>Datos del Cliente</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Razón Social</mat-label>
                                <input matInput formControlName="razon_social" placeholder="123456789" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Nombre Comercial</mat-label>
                                <input matInput formControlName="nombre_comercial" placeholder="123456789" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Tipo de Contribuyente</mat-label>
                                <mat-select disableRipple formControlName="contribuyente">
                                    <mat-option *ngFor="let contribuyente of contribuyentes"
                                        value={{contribuyente.id_contribuyente}}> {{contribuyente.contribuyente}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Formulario Datos de Contacto -->
                        <div>
                            <h6>Datos de Contacto</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput formControlName="email" placeholder="123456789" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Teléfono Local</mat-label>
                                <input matInput formControlName="telefono_local" placeholder="123456789" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Teléfono Móvil</mat-label>
                                <input matInput formControlName="telefono_movil" placeholder="123456789" type="text">
                            </mat-form-field>
                        </div>
                        <!-- Formulario Datos Geograficos -->
                        <div>
                            <h6>Datos Geográficos</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Estado</mat-label>
                                <mat-select disableRipple formControlName="estado">
                                    <mat-option *ngFor="let estado of estados" value={{estado.id_estado}}>
                                        {{estado.estado}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Municipio</mat-label>
                                <mat-select disableRipple formControlName="municipio">
                                    <mat-option *ngFor="let municipio of municipios" value={{municipio.id_municipio}}>
                                        {{municipio.municipio}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Parroquia</mat-label>
                                <mat-select disableRipple formControlName="parroquia">
                                    <mat-option *ngFor="let parroquia of parroquias" value={{parroquia.id_parroquia}}>
                                        {{parroquia.parroquia}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Ciudad</mat-label>
                                <mat-select disableRipple formControlName="ciudad">
                                    <mat-option *ngFor="let ciudad of ciudades" value={{ciudad.id_ciudad}}>
                                        {{ciudad.ciudad}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Codigo Postal</mat-label>
                                <input matInput formControlName="codpostal" placeholder="1234" type="text">
                            </mat-form-field>

                            <mat-form-field class="container_box_space" appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <textarea matInput placeholder="Av. Ernesto Blohm"
                                    formControlName="direccion"> </textarea>
                            </mat-form-field>
                        </div>
                        <!-- Formulario Datos Medio de Contacto -->
                        <div>
                            <h6>Medio de Contacto</h6>
                            <mat-form-field appearance="outline">
                                <mat-label>Via</mat-label>
                                <mat-select disableRipple formControlName="contacto">
                                    <mat-option *ngFor="let contacto of contactos" value={{contacto.id_medio_contacto}}>
                                        {{contacto.contacto}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    <!-- Bootn de siguiente strepper -->
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="stepBtn" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </mat-step>

                <!-- Parte 2 del Strepper -->
                <mat-step>
                    <!-- [stepControl]="document" -->
                    <form [formGroup]="document">
                        <ng-template matStepLabel>Carga de Documentos</ng-template>

                        <div id="doc_rif">
                            <h6 class="title_container_file_upload">Rif</h6>
                            <app-file-upload></app-file-upload>
                        </div>

                        <div id="doc_registro_mercantil">
                            <h6 class="title_container_file_upload">Registro Mercantil</h6>
                            <app-file-upload></app-file-upload>
                        </div>

                        <div id="doc_ci_representante_legal">
                            <h6 class="title_container_file_upload">Cédula Representante Legal</h6>
                            <app-file-upload></app-file-upload>
                        </div>

                        <div id="doc_otro">
                            <h6 class="title_container_file_upload">Otro</h6>
                            <app-file-upload></app-file-upload>
                        </div>

                    </form>
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="stepBtn" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </mat-step>

                <!-- Parte 3 del Strepper -->
                <mat-step>
                    <ng-template matStepLabel>Datos del Representante Legal</ng-template>
                    <ng-container>
                        <form [formGroup]="agent">

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre_representante" placeholder="123456789"
                                    type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Apellido</mat-label>
                                <input matInput formControlName="apellido_representante" placeholder="123456789"
                                    type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Cédula</mat-label>
                                <input matInput formControlName="cedula_representante" placeholder="123456789"
                                    type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Teléfono Local</mat-label>
                                <input matInput formControlName="telefono_local_repre" placeholder="123456789"
                                    type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Teléfono Móvil</mat-label>
                                <input matInput formControlName="telefono_movil_repre" placeholder="123456789"
                                    type="text">
                            </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input matInput formControlName="email" placeholder="123456789" type="text">
                                </mat-form-field>

                        </form>
                    </ng-container>
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="stepBtn" mat-raised-button>Finalizar</button>
                    </div>
                </mat-step>


            </mat-vertical-stepper>
        </div>
    </div>
</section>