<div class="portafoliorones d-flex flex-column justify-content-center w-100 pb-5" *ngIf="!loading && !error; else loadingTemplate">
    <div id="portafolio" class="align-self-center">
        <div class="PORTAFOLIO-RONES">
            <h1 class="text-portafolio">Portafolio</h1>
            <h1 class="heading-2us" style="margin-top: -15px;">RONES</h1>
            <hr style="margin-top: -1px; border: 1px solid #52AD9C; width:60%; position: inherit;">
        </div>
    </div>
    <div class="row row-circles">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="RON-BIG d-flex justify-content-center align-items-center" id="circle">
                <img id="imagem-l" src={{products[aux].img_name}} class="show">
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="RON-CHIQUITO d-flex justify-content-center align-items-center" id="circle">
                <img id="imagem-r" src={{products[aux].img_name}} class="hidden">

            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <div class="portafoliorones d-flex flex-column justify-content-center w-100 pb-5">
        <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
            <mat-spinner [diameter]="30"></mat-spinner>
            <span class="ml-2 mt-1">Cargando portafolio</span>
        </div>
        <div class="p-3 d-flex justify-content-center align-items-center">
            <button mat-button *ngIf="error && !loading" class="btn btn-ligth text-dark text-uppercase"
                style="background-color: #C2FFF8; height: 40px; border-radius: 20px;" (click)="load()"><i class="fas fa-redo-alt mr-2 ml-2"></i> Cargar
                portafolio</button>
        </div>
    </div>
</ng-template>