<section id="cambio-banco">
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span matBadge={{countNuevos}} matBadgeSize="small" matBadgeOverlap="false"
                            matBadgePosition="before">Listado de cambios de banco</span>
                    </ng-template>

                    <app-tabla-cambio-banco 
                    (changePos)="_changeBanco($event)"
                    (count)='countNuevos = $event' 
                    class="w-100" >
                    </app-tabla-cambio-banco>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>