#error_windows{
    max-width: 300px;
}
#reload{
    text-transform: uppercase;
    font-family: 'Montserrat', 'medium';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.2px;
    background-color: #C2FFF8;
    height: 40px;
    color: #000000;
    border-radius: 20px;
}

.text-error{
    margin-bottom: 20px;
}

@media screen and (max-width: 720px){

    #error_windows{
        max-width: 200px;
    }

    .text-error{
        font-size: 12px;
    }

}