<section id="login" class="d-flex justify-content-center w-100">

    <div class="d-flex justify-content-center align-items-center flex-column w-100 ">

        <div class="container0">
            <div class="login-page">
            </div>
            <div class="login-container">
                <app-title [title]="'Inicia Sesión'"></app-title>
                <form [formGroup]="authForm" class="mt-4">
                    <div class="input-container">
                        <input formControlName="email" type="text" class="form-control" id="email"
                            placeholder="Correo electrónico" name="email" maxlength="45"
                            (keypress)="onlyCaracteres($event)">
                    </div>
                    <div class="input-container">
                        <input formControlName="password" type="password" class="form-control" placeholder="Contraseña"
                            name="password" maxlength="45" minlength="6">
                    </div>
                    <div class="error-message small d-flex justify-content-center">
                        {{error.msg}}
                    </div>
                    <div class="input-container">
                        <button [disabled]="loading" mat-button class="btn-confirm" id="btn-confirm" type="button"
                            (click)="login()">
                            <div *ngIf="!loading; else loadingTemplate">
                                Ingresar
                            </div>
                        </button>
                    </div>
                </form>
                <div class="version">
                    <p>
                        V 1.0.36
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #loadingTemplate>
    <div class="d-flex justify-content-center" style="height: 40px;">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>

</ng-template>