<section id="dashboard">
    <div class="container-fluid">
        <div class="row conatiner_master_graph">

            <div class="cards">

                <div class="card_box card-1">
                    <div class="card__icon">
                        <i class="fas fa-users"></i>
                        Número de Ventas Totales
                    </div>
                    <div class="menu_card">
                        <p class="card__apply">
                            <a class="card__link">
                                7,500
                            </a>
                        </p>
                    </div>
                </div>

                <div class="card_box card-1">
                    <div class="card__icon">
                        <i class="fas fa-users"></i>
                        Cantidad de Clientes
                    </div>
                    <div class="menu_card">
                        <p class="card__apply">
                            <a class="card__link">
                                10,885
                            </a>
                        </p>
                    </div>
                </div>

                <div class="card_box card-1">
                    <div class="card__icon">
                        <i class="fas fa-users"></i>
                        Cantidad de Equipos
                    </div>
                    <div class="menu_card">
                        <p class="card__apply">
                            <a class="card__link">
                                11,595
                            </a>
                        </p>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="conatiner_master_graph row">
        <div class="conatiner_graph col-6">
            <div>
                <p class="title_graph">Cobro Diario</p>
            </div>
            <canvas baseChart [datasets]="datos" [labels]="dia" [options]="barChartOptions" [legend]="leyenda"
                [chartType]="type">
            </canvas>
        </div>

        <div class="conatiner_graph col-6">
            <div>
                <p class="title_graph">Cobro Mensual</p>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>

        <div class="conatiner_graph col-6">
            <div>
                <p class="title_graph">Efectividad de Cobro por banco</p>
            </div>
            <canvas baseChart [data]="pieChartData" [labels]="pieDeudaLabels" [chartType]="pieChartType">>
            </canvas>
        </div>

        <div class="conatiner_graph col-6">
            <div>
                <p class="title_graph">Deuda total por banco</p>
            </div>
            <canvas baseChart [data]="pieDeuda" [labels]="pieChartLabels" [chartType]="pieDeudaType">>
            </canvas>
        </div>

        <div class="conatiner_graph col-12">
            <div>
                <p class="title_graph">Equipos Activos vs Equipos Desafiliados</p>
            </div>
            <canvas baseChart [labels]="a" [chartType]="b" [legend]="c" [datasets]="d" [options]="barChartOptions">
            </canvas>
        </div>

    </div>

</section>