<div *ngIf="data && displayedColumns">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> Documento de identidad </th>
            <td mat-cell *matCellDef="let cuota">{{cuota.doc}} </td>
          </ng-container>

          <ng-container matColumnDef="cuenta">
            <th mat-header-cell *matHeaderCellDef> Número de cuenta </th>
            <td mat-cell *matCellDef="let cuota"> {{cuota.cuenta}} </td>
          </ng-container>

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto Envíado </th>
            <td mat-cell *matCellDef="let cuota"> {{cuota.monto | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="cobrado">
            <th mat-header-cell *matHeaderCellDef> Monto Cobrado </th>
            <td mat-cell *matCellDef="let cuota"> {{cuota.cobrado | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="mensaje">
            <th mat-header-cell *matHeaderCellDef> Mensaje </th>
            <td mat-cell *matCellDef="let cuota"> {{cuota.mensaje}} </td>

          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>


    </table>
    <mat-paginator [pageSizeOptions]="[12, 50, 100]"></mat-paginator>

</div>

