<h1 mat-dialog-title class="text-center mat-dialog-title">
    ¿Ya eres cliente?
</h1>
<div mat-dialog-content class="mat-dialog-content">
    <div class="less-padding">
        <p class="text-justify">
            Debes iniciar sesión o afiliarte para poder hacer pedidos.
        </p>
    </div>
</div>
<div mat-dialog-actions>
    <div class="d-flex w-100 btn-container">
        <button class="cancel action_button flex-fill" mat-button mat-dialog-close [routerLink]="[ '/ingresar' ]">Soy Cliente</button>
        <button class="cancel action_button flex-fill" mat-button mat-dialog-close [routerLink]="[ '/afiliarme' ]">Afiliarme</button>
    </div>
</div>