<section id="cobros_detalle">
    <div class="container-fluid mt-3">
        <div class="title">
            <div class="d-flex">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver a cobros"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['cobros'] } }]">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div>
        </div>
        <div class="row" *ngIf="!loading && !error; else loadingTmp">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <div class="mb-3 pb-1 pl-1 d-flex flex-column align-items-left justify-content-center">
                        <h4>{{data.affiliate.nombre_empresa}}</h4>
                        <div class="small mb-2 ml-1">Último pedido: <span
                                *ngIf="data.affiliate.ultima_compra; else notBuytTpm">{{data.affiliate.ultima_compra | dateAgo}}</span>
                        </div>
                    </div>
                    <div class="ml-auto">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tile-box card bg-white d-flex flex-column">
                    <div class="tile-title text-dark">
                        Pedidos realizados
                    </div>
                    <div class="tile-body d-flex flex-fill justify-content-center align-items-center">
                        <div class="tile-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="tile-content text-center">
                            <span class="tile-number text-dark">{{data.affiliate.cantidad_compras}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tile-box card bg-white d-flex flex-column">
                    <div class="tile-title text-dark">
                       Cantidad de Pedidos por cobrar
                    </div>
                    <div class="tile-body d-flex flex-fill justify-content-center align-items-center">
                        <div class="tile-icon">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="tile-content text-center">
                            <span class="tile-number text-dark">{{data.pending_charges}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tile-box card bg-white d-flex flex-column">
                    <div class="tile-title text-dark">
                        Pedidos con credito vencido
                    </div>
                    <div class="tile-body d-flex flex-fill justify-content-center align-items-center">
                        <div class="tile-icon">
                            <i class="fas fa-calendar-times"></i>
                        </div>
                        <div class="tile-content text-center">
                            <span class="tile-number text-dark">{{data.defeated_charges}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tile-box card bg-white d-flex flex-column">
                    <div class="tile-title text-dark">
                        Deuda total Acumulada
                    </div>
                    <div class="tile-body d-flex flex-fill justify-content-center align-items-center">
                        <div class="tile-icon">
                            <i class="fas fa-coins"></i>
                        </div>
                        <div class="tile-content text-center">
                            <span class="h4 text-dark">{{(data.total_amount || 0) | currency : 'USD' : true : '1.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="table-box card bg-white">
                    <div class="d-flex flex-column">
                        <div class="tile-title">
                            Pedidos por cobrar
                        </div>
                        <div class="flex-fill justify-content-center align-items-center">
                            <app-tabla-afiliados-cobros [id]="data.affiliate.id"></app-tabla-afiliados-cobros>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #loadingTmp>
    <div class="loading d-flex justify-content-center align-items-center p-4">
        <div class="p-1" mat-raised-button *ngIf="loading">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
            <li class="fa fa-redo-alt"></li>
        </button>
    </div>
</ng-template>
<ng-template #notBuytTpm>
    Sin pedidos aún
</ng-template>
<ng-template #newDescuento>

</ng-template>
<ng-template #apply>
    <div class="h3 pt-2">Aplicar</div>
</ng-template>