 .product{
     cursor: pointer;
     width: 100%;
 }
 
 .image {
    display: block;
    height: 300px;
    width: 150px;
  }
  
  .agotado{
    position: absolute;
    top: 38%;
    margin-left: auto;
    margin-right: auto;
    width: 120px !important;
    height: 60px !important;
}
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
  }
  
  .product:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
  }

  .discount{
    position: absolute;
    top: 20px;
    left: 20%;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line-through{
    text-decoration: line-through;
    color: gray;
  }

  .ribbon {
    opacity: 0;
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: .5s ease;
  }
  .ribbon span {
    width: 150px;
    height: 34px;
    top: 20px;
    right: -40px;
    position: absolute;
    display: block;
    background: #FF0000;
    color: #333;
    font-family: arial;
    font-size: 18px;
    color:white;
    text-align: center;
    line-height: 34px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  
  .product:hover .ribbon {
    opacity: 1;
  }

  @media screen and (max-width: 768px){
    .image {
      height: 200px;
      width: 100px;
    }
    
    .overlay {
      font-size: 12px;
      height: 200px;
      width: 100%;
    }
    .overlay-text{
      font-size: 14px;
    }
  }