<section id="detalle_pedido_admin">
    <div class="container">
        <div class="title">
            <div class="d-flex">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver a salida pedidos"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['salida-pedidos'] } }]">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div>
        </div>
        <div class="order-container" *ngIf="order;else loadingOrder">
            <div class="row">
                <div class="col-5" style="height: calc(100vh - 120px);">
                    <div class="h-100 d-flex flex-column">
                        <div class="mb-auto">
                            <h1 class="pedido-title">Nro. Pedido</h1>
                            <h1 class="pedido-number">{{order.id_transaccion}}</h1>
                        </div>
                        <div class="w-100 mb-3 text-left pt-3 pl-3 text-uppercase">
                            <p>Cliente: <strong>{{affiliate.nombre_empresa}}</strong></p>
                            <p>Total: <strong>{{order.total | currency : 'USD' : true : '1.2-2'}}</strong></p>
                        </div>
                        <div>
                            <div class="input-container">
                                <input id="lector_input" [(ngModel)]="barcode" (input)="read()" placeholder="LECTOR"
                                    class="form-control" type="text" autofocus="autofocus">
                            </div>
                            <button mat-button (click)="read()"
                                class="btn btn-success bg-success text-uppercase lector-btn w-100 mt-3">Leer
                                manual</button>
                        </div>
                    </div>

                </div>
                <div class="col-7" style="height: calc(100vh - 120px);">
                    <div class="h-100 d-flex flex-column">
                        <div class="mb-auto" style="height: calc(100vh - 195px);">
                            <div class="row lector-row w-100 h-100 bg-white text-center">
                                <div class="col-6 h-100" style="height: 100%; overflow-y: auto;">
                                    <h3 class="lector-title">PEDIDO</h3>
                                    <mat-divider></mat-divider>
                                    <div *ngFor="let venta of order.ventas">
                                        <div class="d-flex align-items-center">
                                            <div class="ml-3 mt-1 mb-1">
                                                <img src={{venta.presentacion.producto.img_name}}
                                                    alt={{venta.presentacion.producto.producto}} class="img img-fluid">
                                            </div>
                                            <div class="flex-fill">
                                                <p>{{venta.presentacion.producto.producto}}</p>
                                                <p>{{venta.unidades}} x {{venta.presentacion.descripcion}}</p>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                                <div class="col-6 h-100" style="height: 100%; overflow-y: auto;">
                                    <h3 class="lector-title">PISTOLA</h3>
                                    <mat-divider></mat-divider>
                                    <div *ngFor="let item of lectorData" class="w-100">
                                        <div class="d-flex align-items-center w-100">
                                            <div class="ml-3 mt-1 mb-1">
                                                <img src={{item.product.img_name}} alt={{item.product.producto}}
                                                    class="img img-fluid">
                                            </div>
                                            <div class="d-flex flex-fill pt-2">
                                                <div class="flex-fill">
                                                    <p>{{item.product.producto}}</p>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <p class="mr-2">{{item.unidades}} x </p>
                                                        <select class="form-control mb-2" id="selType"
                                                            style="width: 130px;" [(ngModel)]="item.tipo">
                                                            <option>Unidad</option>
                                                            <option selected>Caja</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <button (click)="deleteItem(item)"
                                                    class="btn btn-danger btn-delete-item mr-3">
                                                    <li class="fa fa-minus"></li>
                                                </button>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="mt-auto">
                                <button *ngIf="!loadingSalida; else loadingSalidaTmp" mat-button (click)="save()"
                                    class="btn btn-success bg-success text-uppercase w-100 mt-3 lector-btn">
                                    <div>Marcar salida</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<ng-template #loadingOrder>
    <div class="loading d-flex justify-content-center align-items-center p-4">
        <div class="p-1" *ngIf="loading">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
            <li class="fa fa-redo-alt"></li>
        </button>
    </div>
</ng-template>
<ng-template #loadingSalidaTmp>
    <div class="d-flex justify-content-center align-content-center mb-2">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</ng-template>