<section id="crmdetalle">
    <div class="container-fluid">
        <div class="title">
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-100">
                <div class="bg-white rounded card p-2">
                    <form [formGroup]="ca">
                        <div class="row">
                            <div class="col-12">
                                <div class="box-title d-flex justify-content-center">
                                    <h4 class="text-uppercase mt-3">Conciliar Archivo</h4>
                                </div>
                            </div>

                            <div class="w-100 pl-4 pr-4 pt-4">
                                <mat-form-field appearance="outline" class="container_box w-100">
                                    <mat-label>Seleccionar Banco</mat-label>
                                    <mat-select disableRipple formControlName="banco">
                                        <mat-option *ngFor="let banco of bancos" value={{banco.id_banco}}>
                                            {{banco.banco}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="w-100 pl-4 pr-4">
                                <mat-form-field appearance="outline" class="container_box w-100">
                                    <mat-label>Seleccionar archivo</mat-label>
                                    <mat-select disableRipple formControlName="proceso">
                                        <mat-option *ngFor="let proceso of procesos" value={{proceso.id}}>
                                            {{proceso.trace + " | " + proceso.fecha}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-12 ml-3 mr-3 mb-4">
                                <div class="d-flex align-items-center">
                                    <button mat-button (click)="load()" mat-button
                                        class="pr-4 pl-4 pt-1 pb-1 btn btn-success bg-success text-white h5">Nueva conciliación</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>