<section id="crmdetalle">
    <div class="container-fluid">
        <div class="title">
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-100">
                <div class="bg-white rounded card p-2">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="box-title d-flex justify-content-center">
                                    <h4 class="text-uppercase mt-3">Conciliar Archivo</h4>
                                </div>
                            </div>

                            <div class="w-100 pl-4 pr-4 pt-4">
                                <mat-form-field appearance="outline" class="container_box w-100">
                                    <mat-label>Seleccionar Banco</mat-label>
                                    <mat-select formControlName="banco" (selectionChange)="getArchivos()">
                                        <mat-option selected value="null">Seleccionar</mat-option>
                                        <mat-option *ngFor="let banco of bancos" value={{banco.codigo}}>
                                            {{banco.nombre}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="w-100 pl-4 pr-4" *ngIf="archivos || loading">
                                <mat-form-field appearance="outline" class="container_box w-100"
                                    [class.spinner]="loading">
                                    <mat-label>Seleccionar archivo</mat-label>
                                    <mat-select disableRipple formControlName="archivo"
                                        (selectionChange)="setArchivo($event.value)" [disabled]="!archivos || loading">
                                        <mat-option *ngFor="let arch of archivos" value={{arch.id}}>
                                            <span class="id_archivo">{{arch.id}}</span> - {{arch.fecha_respuesta |
                                            date:'dd/MM/yyyy hh:mm:ss'}} {{arch.cuotas}} líneas
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="archivo-prev mb-4 mt-4 card p-4" *ngIf="form.valid">

                                <h4>Archivo #{{archivo.id}}</h4>
                                <div>{{archivo.cuotas}} líneas</div>
                                <div>Monto envíado: {{archivo.monto_enviado | currency}}</div>
                                <div>Monto cobrado: {{archivo.monto_cobrado | currency}}</div>
                                <div>Generado el: {{archivo.fecha_generacion|
                                    date:'dd/MM/yyyy hh:mm:ss'}}</div>
                                <div>Actualizado el: {{archivo.fecha_respuesta |
                                    date:'dd/MM/yyyy hh:mm:ss'}}</div>
                                <div>Descripción: {{ archivo.descripcion }}</div>


                                <div class="d-flex align-items-center mt-4">
                                    <app-action-btn mat-button (onClick)="conciliar()"
                                        [isDisabled]="form.invalid || !archivo || loadingUpdate"
                                        [loading]="loadingUpdate" [text]="'Conciliar'" class="mr-3">
                                    </app-action-btn>
                                    <app-action-btn mat-button (onClick)="getArchivo()"
                                        [isDisabled]="form.invalid || !archivo || loadingGetArchivo"
                                        [loading]="loadingGetArchivo" [text]="'Ver'" class="mr-3">
                                    </app-action-btn>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>