<section id="cobros">
    <div class="container-fluid">
        <div class="title">
            <div class="d-flex align-items-center">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Ver historial de cobros"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['historial-cobros'] } }]">
                    <li class="fa fa-history"></li>
                </a>
            </div>
        </div>
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span matBadge={{contado_count}} matBadgeSize="small" matBadgeOverlap="false"
                            matBadgePosition="before">
                            Al contado</span>
                    </ng-template>
                    <app-tabla-pedidos [aceptado]='1' [pistoleado]="0" [cobrado]="0" [contado]="1"
                        (count)="contado_count = $event"></app-tabla-pedidos>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span matBadge={{sin_cobrar_count}} matBadgeSize="small" matBadgeOverlap="false"
                            matBadgePosition="before">Credito</span>
                    </ng-template>
                    <app-tabla-cobros [solventes]='0' (count)="sin_cobrar_count = $event"></app-tabla-cobros>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>