.stepBtn {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Montserrat', 'light';
    font-weight: 400;
    font-size: 14px;
    border-color: black;
    margin-top: 20px;
    margin-right: 10px;
}

////agregar al carrito

