#carrito{
    z-index: 1 !important;
}
.container{
    overflow-y: hidden;
    padding-bottom: 20px;
}
.title-carrito{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.6px;
}
.title{
    font-size: 14px;
    font-weight: 400;
}

.text-box{
    background-color: #07423f;
    color: white;
    padding: 5px;
    height: auto;

}

.confirm-box{
    background-color: #07423f;
    max-height: 100px;
    position: fixed;
    bottom: 0;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-product{
    height: 80px;
    width: auto;
}

.total-amount{
    font-size: 16px;
    font-weight: 700;
}
.total-title{
    font-size: 30px;
}
.reset-btn{
    height: 60px;
    background-color: #07423f;
    color: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.reset-btn-text{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.2px;
    font-family: 'Montserrat', 'medium';
    margin-left: 5px;
    margin-right: 5px;

}
.confirm-btn{
    height: 60px;
    background-color: #C2FFF8;
    color: #000;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: 'Montserrat', 'medium';
    margin-right: 20px;
}

.confirm-btn-text{
    font-weight: 600;
    font-size: 14px;
}

#subtotal{
    font-size: 18px;
}

#bottomBtn{
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    display: flex;
    width: 90%;
}

#remove{
    font-size: 12px;
}

.cart-item{
    padding: 0;
}


.add-btn{
    width: 30px;
    height: 30px;
    background-image: url('../../../../../assets/images/add-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0;
}

.less-btn{
    width: 30px;
    padding: 0;
    height: 30px;
    background-image: url('../../../../../assets/images/less-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


///sidebar

#carrito_background{
    width: 0;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 9998 !important;
    background-color: #000000ad;
}

.sidepanel  {
    width: 500px;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    top: 0;
    right: -500px;
    background-color: #07423f;
    overflow-x: hidden !important;
    transition: 0.5s;
    padding-top: 10px;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #C2FFF8;
    color: #000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  #addressSel{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 12px;
    height: 40px;
    max-width: 300px;
}
#addressSel option{
    border: none;
    background-color: white;
    color: black;
}
#addressSel option:hover{
    background-color: rgb(0, 88, 88);
}

.address-label{
    width: fit-content;
    color: whitesmoke;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Montserrat', 'medium';
    font-weight: 500;
    letter-spacing: 1.2px;
}

.counter{
    display: flex;
    justify-content: center;
}

  @media screen and (max-width: 768px){
    #addressSel{
        max-width: 200px;
    }

    .product-row{
        margin: 0;
    }

    .text-box{
        max-height: 600px !important;
    }
    
    .img-product{
        height: 150px;
        width: auto;
    }
    .counter{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 501px){
  
    #addressSel{
        max-width: 200px;
    }

    .img-product{
        height: 100px;
        width: auto;
    }
    .sidepanel  {
        width: 100%;
        right: -100%;

    }

    .confirm-box{
        width: 100vw;
        max-height: 80px;
    }

    .reset-btn{
        height: 50px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .reset-btn-text{
        font-size: 18px;
    }
    .confirm-btn{
        height: 50px;
    }
    
    .confirm-btn-text{
        font-weight: 600;
        font-size: 12px;
    }

    .address-container{
        display: flex;
        flex-direction: column;
    }

    #addressSel{
        max-width: 60%;
        margin-left: 0;
    }

}

@media screen and (max-width: 380px){
    #carrito{
        font-size: 12px;
    }
    .address-label{
        font-size: 10px;
    }
    #addressSel{
        font-size: 10px;
    }
    .confirm-btn{
        padding: 5px;
        font-size: 10px;
        margin-right: 5px;
    }
    .confirm-btn-text{
        font-size: 10px;
    }

}

