<section id="cargar-inventario">
    <div class="container-fluid">
        <div class="content">
            <div class="box-title d-flex justify-content-center">
                <h5 class="bold uppercase mt-3">Carga Masiva</h5>
            </div>
            <div class="file-input" *ngIf="!data; else prev">
                <div class="box-title">
                    <h6>Selecciona archivo</h6>
                </div>
                <div class="file-container">
                    <file-input (change)="onFileChange($event)" [loading]="loading" [accept]="'.xls, .xlsx'">
                    </file-input>
                </div>
                <a class="mt-2" download="Plantilla Carga Masiva" target="_blank"
                    href="../../../../../assets/templates/Plantilla Carga Masiva.xlsx">
                    Descargar plantilla
                </a>
            </div>
            <ng-template #prev>
                <div>
                    <div class="btn-options">
                        <button mat-raised-button class="btn-cancel" (click)="cancel()">Cancelar</button>
                        <div class="btn-submit">
                            <app-action-btn text="Procesar" (onClick)="submit()" [isDisabled]="loading"
                                [loading]="loading"></app-action-btn>
                        </div>
                    </div>
                    <app-previsualizar-archivo [data]="data" [columns]="columns">
                    </app-previsualizar-archivo>
                </div>
            </ng-template>
        </div>
    </div>
</section>