.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn--browse {
    border: 1px solid whitesmoke;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    background-color: #ccc;
    color: black;
    height: 42px;
    width: 150px;
    padding: 10px 14px;
    font-size: 14px;
}

.f-input {
    height: 42px;
    background-color: white;
    border: 1px solid whitesmoke;
    width: 100%;
    max-width: 300px;
    float: left;
    padding: 0 14px;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.btn-spinner {
    height: 42px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.spinner {
    background-color: #ccc;
}
