.confirm{
    background-color: #07423F; 
    color: white;
}
.cancel{
    background-color: whitesmoke;
}


button{
    border-radius: 0;
    height: 60px;
    font-family: 'Montserrat', 'medium' !important;
    font-weight: 500 !important;
}

.mat-dialog-title{
    background-color: #07423F;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', 'black';
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.mat-dialog-content{
    padding: 20px 40px;
    font-family: 'Montserrat', 'medium' !important;
    font-weight: 400 !important;
}

input {
    width: 100%;
    height: 50px;
}
label{
    font-weight: 500;
}

.small{
    font-size: 10px;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .mat-dialog-title {
       font-size: 14px; 
    }
}