<section id="clientela">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Agregar Cliente"  [routerLink]="['/admin/app',{ outlets: { adr: ['add-client'] } }]" >
                <li class="fas fa-user-plus"></li>
            </a>
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'"
                matTooltip="Exportar en formato Excel">
                <li class="fas fa-file-download"></li>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span 
                        matBadge={{countNuevos}} 
                        matBadgeSize="small" 
                        matBadgeOverlap="false"
                        matBadgePosition="before">
                        Listado de Clientes
                        </span>
                    </ng-template>
                    <app-clientela-afiliados 
                    (editClient)="editClient($event)" 
                    (showClient)="showClient($event)" 
                    (count)='countNuevos = $event' 
                    class="w-100" 
                    [access_level]="0">
                    </app-clientela-afiliados>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>