 
.title{
    min-height: 40px;
    color: black;
    font-family: 'Roboto', 'extra-bold';
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.subtitle{
    font-size: 14px;
    color: black;
    font-family: 'Roboto', 'regular';
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-bottom: -8px;
}
#title-container{
    height: fit-content;
    margin-top: 2em;
}

@media screen and (max-width: 768px){

    #title-container{
        display: block !important;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .title{
        font-size: 24px;
        margin: 0;
    }
    .subtitle{
        font-size: 20px;
        margin: 0;
    }
    svg{
        margin-top: -5px;
        width: 80px;
    }

}