#afiliado{
    min-height: 100hv;
    background-image: url("../../../assets/images/FondoNegroAzul.jpg");
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}


#afiliado_content{
    padding-top: 85px;
}


@media screen and (max-width: 480px){
    #afiliado_content{
        padding-top: 60px;
    }
}
