<section id="ventas">
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span 
                        matBadge={{countNuevos}} 
                        matBadgeSize="small" 
                        matBadgeOverlap="false"
                        matBadgePosition="before">
                        Listado de Traspasos
                        </span>
                    </ng-template>
                    <app-tabla-traspaso 
                    (editSale)="editSale($event)" 
                    (showSale)="showSale($event)"
                    (count)='countNuevos = $event' 
                    class="w-100" 
                    >
                    </app-tabla-traspaso>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>