<section id="crmdetalle">
    <div class="container-fluid">
        <div class="title">
            <!-- <div class="d-flex">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver al detalle"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['cobros', id_afiliado] } }]">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div> -->
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-100">
                <div class="bg-white rounded card p-4">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <div class="box-title d-flex justify-content-center">
                                    <h4 class="text-uppercase">Generar Archivo</h4>
                                </div>
                            </div>

                            <div class="w-100 pl-4 pr-4">
                                <mat-form-field appearance="outline" class="container_box w-100">
                                    <mat-label>Seleccionar Banco</mat-label>
                                    <mat-select disableRipple formControlName="banco">
                                        <mat-option *ngFor="let banco of bancos" value={{banco.id_banco}}>
                                            {{banco.banco}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="w-100 pl-4 pr-4">
                                <mat-form-field appearance="outline" class="container_box w-100">
                                    <mat-label>Mes</mat-label>
                                    <mat-select disableRipple formControlName="mes">
                                        <mat-option *ngFor="let mes of meses" value={{mes.mes}}>
                                            {{mes.mes}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <mat-form-field class="w-100 pl-4 pr-4" appearance="outline">
                                <mat-label>Cantidad de cuotas</mat-label>
                                <input matInput type="number" [(ngModel)]="value" formControlName="cash"
                                    placeholder="Ingresa la cantidad de cuotas">
                                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                    <i class="fas fa-times"></i>
                                </button>
                            </mat-form-field>


                            <div class="col-12 mt-2">
                                <div class="d-flex w-100">
                                    <button *ngIf="!loading;else loadingTmp" (click)="submit()"
                                        [disabled]="form.invalid" mat-button
                                        class="p-1 w-100 btn btn-success bg-success text-white text-uppercase h5">GENERAR
                                        ARCHIVO</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #loadingTmp>
    <div *ngIf="loading" class="loading d-flex justify-content-center align-items-center w-100">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</ng-template>

<ng-template #loadingMethodsTmp>
    <div *ngIf="!error_methods" class="loadingM d-flex justify-content-left align-items-center btn shadow-none">
        Cargando
    </div>
    <button class="loadingM d-flex justify-content-left align-items-center btn shadow-none" *ngIf="error_methods"
        (click)="loadMethods()">Pulse para cargar</button>
</ng-template>