.title{
    font-family: 'Montserrat', 'black' !important;
    font-weight: 600;
    color: #414C59;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.nav-btn{
    color: #79798a;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.nav-btn:hover{
    background-color: whitesmoke;
}

.rounded{
    border-radius: 10px !important;
}

.card{
    border: none;
    max-width: 800px;
    margin: auto;
}

.box-title{
    font-size: 30px;
}

.loadingM{
    width: 100%;
    border: 1px solid rgba(105, 105, 105, 0.301);
}

form{
    padding: 20px;
}

.btn-submit{
    width: 100%;
    height: 50px;
}

.form-container{
    width: 100%;
}

.cuota-container{
    width: 100%;
}

.form{
    width: 100%;
    margin: 5px;
}

.btn-submit{
    height: 50px;
    width: 100%;
}

.cuota-personalizado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

hr{
    width: 100%;
    color: whitesmoke;
    background-color: whitesmoke;
    border-color: whitesmoke;
}

.divider-text{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 150px;
    text-align: center;
}

.personalizado-title{
    font-weight: 600;
}