<div>
    <div class="structur">

        <div>
            <mat-form-field appearance="outline" class="mt-4 mx-4">
                <form [formGroup]="identifier">
                    <input matInput (keyup.enter)="_findClient()" placeholder="Buscar" formControlName="rif" #input>
                </form>
            </mat-form-field>

            <button mat-raised-button (click)="filtro()" *ngIf="!statusFilter"> 
                <i class="fas fa-search"></i>
                Buscar
              </button>

            <button (click)="load()" mat-raised-button *ngIf="statusFilter">
                <i class="fas fa-broom broom"></i>
                Limpiar filtro
            </button>
        </div>

        <div>
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Agregar plan"
                [routerLink]="['/admin/app',{ outlets: { adr: ['add-plan'] } }]">
                <li class="fas fa-user-plus"></li>
            </a>
        </div>
    </div>
    <mat-divider></mat-divider>


    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Banco </th>
            <td mat-cell *matCellDef="let plan"> {{plan.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let plan"> {{plan.modelo}} </td>
        </ng-container>

        <ng-container matColumnDef="fraccion_pago">
            <th mat-header-cell *matHeaderCellDef> Fraccion de Pago </th>
            <td mat-cell *matCellDef="let plan"> {{plan.fraccion_pago}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let plan">

                <button #tooltip="matTooltip" matTooltip="Eliminar" matTooltipHideDelay="10" mat-icon-button
                    class="container_icon" (click)="saveDesativate(plan)">
                    <i class="fas fa-ban activate_ban"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let sucursal; columns: displayedColumns;">

        </tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">No se encontró información para su consulta</td>
        </tr>
    </table>
</div>

<mat-paginator [length]="resultsLength" [pageSize]="12" showFirstLastButtons></mat-paginator>

<ng-template #loadingTable>
    <div class="loading d-flex justify-content-center align-items-center p-4">
        <button class="loading-btn" mat-raised-button *ngIf="loading">
            <mat-spinner [diameter]="20"></mat-spinner>
        </button>
        <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
            <li class="fas fa-redo-alt"></li>
        </button>
    </div>
</ng-template>