<div class="sidenav d-flex flex-column">
    <div class="sidenav d-flex flex-column sidenav-items ">

        <div class="brand d-flex align-items-center justify-content-center pt-2 pb-2 mb-2">
            <img src="../../../../../assets/images/consulpagos.png" alt="Consulpagos"
                style="width: auto; height: 50px;">
        </div>
        <!-- Dashboard -->
        <a class="menu_side" *ngIf="access.dashboard()"
            [routerLink]="['/admin/app',{ outlets: { adr: ['dashboard'] } }]" routerLinkActive="ad-active"
            [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-tachometer-alt"></li> <span class="text_side">Dashboard</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Registro de Clientes -->
        <a class="menu_side" *ngIf="access.clientes()" [routerLink]="['/admin/app',{ outlets: { adr: ['clientela'] } }]"
            routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-users"></li><span class="text_side">Clientes</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Operaciones -->
        <a class="menu_side" *ngIf="access.clientes()"
            [routerLink]="['/admin/app',{ outlets: { adr: ['venta-consulpos'] } }]" routerLinkActive="ad-active"
            [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-cart-plus"></li><span class="text_side">Ventas Consulpos</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Tipos de solicitud -->
        <a class="menu_side" mat-button [matMenuTriggerFor]="solicitud">
            <li class="fa fa-file-alt icon_side"></li>
            <span class="text_side">Tipo de Solicitud</span>
        </a>

        <mat-menu #solicitud="matMenu">

            <button class="menu_side" mat-menu-item [matMenuTriggerFor]="venta">
                <li class="fa fa-file-alt icon_side"></li>
                <span class="text_side">Ventas</span>
            </button>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-exchange-alt"></li> <span class="text_side">Traspaso</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-university"></li> <span class="text_side">Cambio de Banco</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-book-dead"></li> <span class="text_side">Desafiliación</span>
            </a>
        </mat-menu>

        <mat-menu #venta="matMenu">
            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-cart-plus"></li> <span class="text_side">Pre-ventas</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-cart-plus"></li> <span class="text_side">Ventas</span>
            </a>
        </mat-menu>
        <!-- ************************************************************************************************** -->

        <!-- Cobranza -->
        <a class="menu_side" mat-button [matMenuTriggerFor]="cobranza">
            <li class="fa fa-file icon_side"></li>
            <span class="text_side">Cobranza</span>
        </a>
        <mat-menu #cobranza="matMenu">

            <!--  <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['conciliar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-money-bill"></li> <span class="text_side">Validar Pago POS</span>
            </a> -->

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['generar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-file-download"></li> <span class="text_side">Generar Archivo</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['actualizar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-file-upload"></li> <span class="text_side">Cargar Respuesta</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['conciliar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fas fa-cash-register"></li> <span class="text_side">Conciliar Archivo</span>
            </a>



            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['historico-conciliacion'] } }]"
                routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-book"></li> <span class="text_side">Histórico de Conciliación</span>
            </a>

            <hr>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['cobro-centralizado'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fas fa-university"></li> <span class="text_side">Cobro Centralizado</span>
            </a>

        </mat-menu>
        <!-- ************************************************************************************************** -->

        <!-- Solicitud de Reportes -->
        <!-- <a class="menu_side not-active" *ngIf="access.historial()" [routerLink]="['/admin/app',{ outlets: { adr: ['reportes'] } }]"
            routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-file-excel"></li><span class="text_side">Reportes</span>
        </a>
        <!-  ************************************************************************************************* -->

        <!-- Registro de Actividad -->
        <!-- <a class="menu_side not-active" *ngIf="access.historial()"
            [routerLink]="['/admin/app',{ outlets: { adr: ['historial-pedidos'] } }]" routerLinkActive="ad-active"
            [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-book"></li><span class="text_side">Actividad</span>
        </a>
        <!- ************************************************************************************************** -->

        <!-- Condiguracion -->
        <a class="menu_side" *ngIf="access.super()" [routerLink]="['/admin/app',{ outlets: { adr: ['config'] } }]"
            routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-cogs"></li><span class="text_side">Configuración</span>
        </a>
        <!-- ************************************************************************************************** -->
    </div>