<div class="sidenav d-flex flex-column">
    <div class="sidenav d-flex flex-column sidenav-items ">

        <div class="brand d-flex align-items-center justify-content-center pt-2 pb-2 mb-2">
            <img src="../../../../../assets/images/consulpagos.png" alt="Consulpagos"
                style="width: auto; height: 50px;">
        </div>
        <!-- Dashboard -->
        <a class="menu_side" *ngIf="access.dashboard()"
            [routerLink]="['/admin/app',{ outlets: { adr: ['dashboard'] } }]" routerLinkActive="ad-active"
            [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-tachometer-alt"></li> <span class="">Dashboard</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Registro de Clientes -->
        <a class="menu_side" *ngIf="access.clientes()" [routerLink]="['/admin/app',{ outlets: { adr: ['clientela'] } }]"
            routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-users"></li><span class="">Clientes</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Operaciones -->
        <a class="menu_side" *ngIf="access.clientes()" [routerLink]="['/admin/app',{ outlets: { adr: ['venta-consulpos'] } }]"
            routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-cart-plus"></li><span class="">Ventas Consulpos</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Tipos de solicitud -->
        <a class="menu_side" mat-button [matMenuTriggerFor]="solicitud">
            <li class="fa fa-file-alt icon_side"></li>
            <h6 class="text_side">Tipo de Solicitud</h6>
        </a>

        <mat-menu #solicitud="matMenu">

            <button class="menu_side" mat-menu-item [matMenuTriggerFor]="venta">
                <li class="fa fa-file-alt icon_side"></li>
                <h6 class="text_side">Ventas</h6>
            </button>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-exchange-alt"></li> <span class="">Traspaso</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-university"></li> <span class="">Cambio de Banco</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-book-dead"></li> <span class="">Desafiliación</span>
            </a>
        </mat-menu>

        <mat-menu #venta="matMenu">
            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-cart-plus"></li> <span class="">Pre-ventas</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-cart-plus"></li> <span class="">Ventas</span>
            </a>
        </mat-menu>
        <!-- ************************************************************************************************** -->

        <!-- Cobranza -->
        <a class="menu_side" mat-button [matMenuTriggerFor]="cobranza">
            <li class="fa fa-file icon_side"></li>
            <h6 class="text_side">Cobranza</h6>
        </a>
        <mat-menu #cobranza="matMenu">

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['conciliar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-money-bill"></li> <span class="">Validar Pago POS</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['generar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-file-download"></li> <span class="">Generar Archivo</span>
            </a>

            <a class="menu_side" *ngIf="access.venta_manual()"
                [routerLink]="['/admin/app',{ outlets: { adr: ['conciliar-archivo'] } }]" routerLinkActive="ad-active"
                [routerLinkActiveOptions]="{exact: true}">
                <li class="fa fa-file-upload"></li> <span class="">Conciliar Archivo</span>
            </a>
        </mat-menu>
        <!-- ************************************************************************************************** -->

        <!-- Solicitud de Reportes -->
        <a class="menu_side not-active" *ngIf="access.historial()" [routerLink]="['/admin/app',{ outlets: { adr: ['reportes'] } }]"
            routerLinkActive="ad-active" [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-file-excel"></li><span class="">Reportes</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Registro de Actividad -->
        <a class="menu_side not-active" *ngIf="access.historial()"
            [routerLink]="['/admin/app',{ outlets: { adr: ['historial-pedidos'] } }]" routerLinkActive="ad-active"
            [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-book"></li><span class="">Actividad</span>
        </a>
        <!-- ************************************************************************************************** -->

        <!-- Roles de Usuarios -->
        <a class="menu_side" *ngIf="access.super()"
            [routerLink]="['/admin/app',{ outlets: { adr: ['super-admin-panel'] } }]" routerLinkActive="ad-active"
            [routerLinkActiveOptions]="{exact: true}">
            <li class="fa fa-cogs"></li><span class="">Usuarios</span>
        </a>
        <!-- ************************************************************************************************** -->
    </div>