.sidenav{
    color: #fff;
    width: 120px;
    border: none;
}

.menu_side span{
    color: black;
    font-weight: 500;
    font-size: 8px;
}

.brand{
    background-color:  #fff; 
    height: 60px; 
    width: 120px;
}


.fa {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-size: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.menu_side:hover{
   background-color: whitesmoke;
}

.sidenav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_side{
    width: 90px;
    height: 90px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #acacac;
    text-decoration: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}

.sub_side{
    width: 100%;
    font-size: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.icon_side{
    width: 100%;
}

.text_side{
    color: black;
    font-weight: 500;
    font-size: 8px;
}
