.sidenav{
    color: #fff;
    width: 120px;
    border: none;
}

a{
    width: 120px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #acacac;
    text-decoration: none;
    flex-direction: column;
}

a span{
    color: black;
    font-weight: 500;
    font-size: 8px;
}

.brand{
    background-color:  #fff; 
    height: 60px; 
    width: 120px;
}


.ad-active li{
    background-color: #eeeeee;
    color: black;
}

.fa {
    //background-color: rgb(233, 233, 233);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
}
a:hover li{
    background-color: #eeeeee;
    color: black;
}

.sidenav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
