#detail{
    border: 0.2px solid rgba(128, 128, 128, 0.192);
    width: 100%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}
th{
    font-family: 'Montserrat' !important;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.snackbar{
    background-color: teal;
    color: white;
}