<section id="detail">
    <div>
        <div class="d-flex flex-column">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Cedula representante</th>
                        <th>Rif Empresa</th>
                        <th>Registro Mercantil</th>
                        <th>Teléfono</th>
                        <th>Teléfono Auxiliar</th>
                    </tr>
                    <tr>
                        <td>
                            <a *ngIf="affiliate.cedula_representante; else nullTemplate"
                                href={{affiliate.cedula_representante}} target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-external-link-alt"></i> Cedula Representante
                            </a>
                        </td>
                        <td>
                            <a *ngIf="affiliate.rif_empresa; else nullTemplate" href={{affiliate.rif_empresa}}
                                target="_blank" rel="noopener noreferrer">
                                <i class="fas fa-external-link-alt"></i> RIF Empresa
                            </a>
                        </td>
                        <td>
                            <a *ngIf="affiliate.registro_mercantil; else nullTemplate"
                                href={{affiliate.registro_mercantil}} target="_blank" rel="noopener noreferrer">
                               <i class="fas fa-external-link-alt"></i> Registro Mercantil
                            </a>
                        </td>
                        <td>
                            <span *ngIf="affiliate.telefono; else nullTemplate">
                                {{affiliate.telefono}}
                            </span>
                        </td>
                        <td><span *ngIf="affiliate.telefono_auxiliar; else nullTemplate">
                                {{affiliate.telefono_auxiliar}}
                            </span></td>
                    </tr>
                </tbody>
            </table>
            <div class="mb-1 mt-1 text-left">
                <div class="d-flex m-2 align-items-center">
                    <mat-spinner [diameter]="20" *ngIf="loading" class="mr-3"></mat-spinner>
                    <button  mat-raised-button class="mr-2">
                        Enviar email
                    </button>
                    <button (click)="openDialog(2)" mat-raised-button
                        [disabled]="affiliate.access_level === 4 || affiliate.access_level === 0 || loading">
                        Validar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #nullTemplate>
    No agregado
</ng-template>