<section id="verification">
    <div class="container">
        <app-title [subtitle]="'Verifique'" [title]="'SU CUENTA'"></app-title>
        <div class="row-center row mt-3">
            <div class="col-12 mb-2 mt-1 w-100">
                <div class="d-flex justify-content-end">
                    <div *ngIf="access_level != 3; else exceptionInProcess">
                        <button *ngIf="!loadingException; else loadingExceptionTmp" (click)="openDialog()"
                            class="noTengoTodoBtn" mat-button #tooltip="matTooltip"
                            matTooltip="Si no tienes todos los documentos solicitados, pulsa aquí y uno de nuestros agentes revisará tu caso">
                            <div class="d-flex align-items-center">
                                <span>No tengo todo</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row row-color">
                <div class="col-12 mt-3">
                    <h6 class="text-info text-uppercase text-center m-2">Estás a un paso de poder realizar pedidos</h6>
                    <p class="text-center small">Agregue los siguientes documentos para verificar su cuenta</p>
                </div>
                <div class="col-12 mt-3 pl-4 w-100">
                    <div class="d-flex">
                        <h6 class="ml-2">Cedula del representante (Escaneado):</h6>
                        <a class="ml-2 small" href={{affiliate.cedula_representante}}>
                            {{ affiliate.cedula_representante | fileUrlName}}
                        </a>
                    </div>
                    <app-upload *ngIf="!loadingCedulaRepresentante; else processing"
                        (url)="onUpload($event,'cedula_representante')"></app-upload>


                </div>
                <div class="col-12 mt-3 pl-4 w-100">
                    <div class="d-flex">
                        <h6 class="ml-2">Rif de su empresa (Escaneado):</h6>
                        <a class="ml-2 small" href={{affiliate.rif_empresa}}> {{ affiliate.rif_empresa | fileUrlName}}
                        </a>
                    </div>
                    <app-upload *ngIf="!loadingRifEmpresa; else processing" (url)="onUpload($event,'rif_empresa')">
                    </app-upload>
                </div>
                <div class="col-12 mt-3 pl-4 w-100">
                    <div class="d-flex">
                        <h6 class="ml-2">Registro Mercantil (Escaneado):</h6>
                        <a class="ml-2 small" href="{{affiliate.registro_mercantil}}">
                            {{ affiliate.registro_mercantil | fileUrlName}} </a>
                    </div>
                    <app-upload *ngIf="!loadingRegistroMercantil; else processing"
                        (url)="onUpload($event,'registro_mercantil')"></app-upload>
                </div>
                <div class="col-12 w-100">
                    <div class="d-flex justify-content-end m-1">
                        <button (click)="omitir()" mat-button>OMITIR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #processing>
    <div class="d-flex justify-content-start align-items-center">
        <button class="loading-wrapper small">
            Procesando
        </button>
    </div>
</ng-template>
<ng-template #loadingAffiliate>
    <div class="d-flex justify-content-center" style="height: 60vh;">
        <div class="align-self-center">
            <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>
            <button *ngIf="error" (click)="load()">Reintentar</button>
        </div>
    </div>
</ng-template>
<ng-template #noSePuedeOmitir>
    <p class="text-danger">
        <li class="fa fa-exclamation-triangle"></li> Sube tus documentos para seguir comprando
    </p>
</ng-template>
<ng-template #exceptionInProcess>
    <a class="small text-warning d-flex" #tooltip="matTooltip"
        matTooltip="Uno de nuestros agentes está revisando su solictud, pronto recibirá una respuesta a su correo">
        <li class="fa fa-clock-o mr-2 mt-1"></li>
        Solicitud en proceso
    </a>
</ng-template>
<ng-template #loadingExceptionTmp>
    <span class="small d-flex">
        <mat-spinner [diameter]="20"></mat-spinner>
        <span class="ml-2">Procesando solicitud</span>
    </span>
</ng-template>