<div class="table-container" [ngClass]="{'bg-white': !loading && !error}">
    <div *ngIf="!loading && !error; else loadingTable">
        <table mat-table [dataSource]="orders">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre_empresa">
                <th mat-header-cell *matHeaderCellDef>
                    Afiliado
                </th>
                <td mat-cell *matCellDef="let element"> <span class="text-uppercase">{{element.nombre_empresa}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="cantidad_por_cobrar">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex flex-column small text-dark">
                        <span>Cant. de pedidos</span>
                        <span>por cobrar</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.cantidad_por_cobrar}}
                </td>
            </ng-container>

            <ng-container matColumnDef="cantidad_vencidos">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex flex-column small text-dark">
                        <span>Cant. de pedidos con</span>
                        <span>credito pasado de días</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad_vencidos}} </td>
            </ng-container>

            <ng-container matColumnDef="monto_adeudado">
                <th mat-header-cell *matHeaderCellDef>
                        Deuda total
                </th>
                <td mat-cell *matCellDef="let element"> {{(element.monto_adeudado || 0) | currency : 'USD' : true : '1.2-2'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let affiliate">
                    <div class="d-flex w-100 justify-content-center">
                        <button #tooltip="matTooltip" matTooltip="Ver detalle" class="btn btn-light edit-btn"
                            [routerLink]="['/admin/app',{ outlets: { adr: ['cobros', affiliate.id] } }]">
                            <li class="fa fa-edit"></li>
                        </button>
                    </div>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [hidden]="loading || error" [length]="resultsLength" [pageSize]="15" showFirstLastButtons
        (page)="load()">
    </mat-paginator>
</div>

<ng-template #loadingTable>
    <div class="loading d-flex justify-content-center align-items-center p-4">
        <div *ngIf="loading" class="p-1">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <button class="loading-btn" *ngIf="error" (click)="load()" mat-raised-button>
            <li class="fa fa-redo-alt"></li>
        </button>
    </div>
</ng-template>

<ng-template #none>
    Ninguno
</ng-template>