<section id="previsualizarArchivo">
    <div class="container-fluid">
        <div class="topButtons">
            <div class="d-flex">
                <a class="nav-btn" #tooltip="matTooltip" matTooltip="Volver a conciliar"
                    [routerLink]="['/admin/app',{ outlets: { adr: ['conciliar-archivo'] } }]">
                    <li class="fa fa-arrow-left"></li>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="mb-2" *ngIf="!data">
                <h3 class="mb-4">Archivo a conciliar</h3>
                <input class="file-input" type="file" title="Seleccionar archivo" style="display: inline-block;"
                    (change)="onFileChange($event)" placeholder="Upload file" accept=".xls">
            </div>


            <div *ngIf="data">
                <div>
                    <h3>Resumen de archivo</h3>
                    <div class="resumen-container">
                        <div class="resumen-item">
                            <div class="resumen-title">Envíado:</div>
                            <div class="resumen-text">{{data.length}} ( {{getTotalMonto() | currency }} )</div>
                        </div>
                        <div class="resumen-item">
                            <div class="resumen-title">Cobrado:</div>
                            <div class="resumen-text">{{getTotal()}} ( {{getTotalCobrado() | currency}} )</div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <app-previsualizar-archivo [data]="data" [displayedColumns]="displayedColumns" [progress]="progress">
                </app-previsualizar-archivo>
            </div>
        </div>
    </div>
</section>