<h1 mat-dialog-title>
    <li class="fa fa-edit mr-2"></li>
    <span class="field">
        Asignar {{dataVenta.solicitud}} #{{dataVenta.number}}
    </span>
</h1>
<div mat-dialog-content class="mat-dialog-content">
    <div class="pt-2 pb-1 less-padding">
        <p>
            Se asignaran Seriales a los siguientes modelos:
        </p>
        <div *ngFor="let modelo of default.items">
            <p>{{modelo.modelo}} - <span>{{modelo.cod_serial}}</span></p>
        </div>

    </div>
</div>
<div mat-dialog-actions>
    <div class="d-flex w-100">
        <button class="flex-fill cancel action_button" mat-button [mat-dialog-close]="null" (click)="liberarSim()">
            <li class="fa fa-times text-dark"></li>
        </button>
        <button class="flex-fill confirm action_button" (click)="saveAsignacion()" [disabled]="false" mat-button
            cdkFocusInitial [mat-dialog-close]="true">
            <li class="fa fa-check"></li>
        </button>
    </div>
</div>

<!-- <ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"></ng-template> -->