#contacto{
    min-height: calc(100vh - 85px);
    text-align: center;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

.row-top{
    margin-top: 30px;
}

.form-control{
    margin-bottom: 10px;
}
.btn-send{
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    color: #000;
    font-size: 20px;
    border-radius: 20px;
}
.bg-roncola{
    background-color: #07423f;
}

#wa_button{
    width:100%;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', 'medium';
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.wh-icon{
    height: 80px;
    width: 80px;
    background-image: url('../../../../../assets/images/whatsapp.svg');
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
  }

.whatsapp-icon{
    font-size: 80px;
    //background-image: url('../../../../../assets/images/whatsapp.svg');
    //background-position: center;
    //background-size: cover;
    margin-right: auto;
    margin-left: auto;
  }


#email_button{
    width:100%;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', 'medium';
    font-weight: 700;
    font-size: 18px;
}
.email{
    font-size: 80px;
}

.email-icon{
    font-size: 28px;
    color: black;
}

.title{
    margin-top: 30px;
}

.card{
    border: none;
    border-radius: 10px;
    min-height: 320px;
    transition: 0.5s;
    padding: 20px;
    opacity: 0.9;
}

.card:hover{
    transform: scale(1.02);
}

.card-wa{
    background-color: #C2FFF8;
    color: black;
}

.card-email{
    background-color: #383838;
    color: white;
}

@media screen and (max-width:968px){
    .card-col{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px){
    .card{
        min-height: 250px;
    }

    .contact-form{
        margin-top: 20px !important;
    }
    
    #wa_button div h3, #email_button div h4{
        font-size: 24px;
    }
    
    #wa_button div .small, #email_button div .small{
        font-size: 12px;
    }

    .title{
        margin-top: 10px;
    }

    .row-top{
        margin-top: 15px;
    }

}

@media screen and (max-width: 480px){
    #contacto{
        min-height: calc(100vh - 60px);
    }
    iframe{
        height: 300px;
    }

    h3{
        font-size: 20px;
    }

    .contact-form{
        margin-top: 20px !important;
    }
    #wa_button div h3, #email_button div h4{
        font-size: 14px;
    }
    #wa_button div .small, #email_button div .small{
        font-size: 10px;
    }
}