<section id="contacto" class="container">
    <div class="ml-auto mr-auto">
        <div class="d-flex justify-content-center align-items-start">
            <app-title [title]="'CONTACTO'"></app-title>
        </div>
    </div>
    <div class="w-100 d-flex align-items-center" style="min-height: 70vh;">
        <div class="w-100">
            <div class="w-100">
                <div class="row row-top w-100 h-100 ml-auto mr-auto">
                    <div class="card-col col-lg-6 col-12">
                        <a class="h-100 card card-wa" target="_blank" 
                            href="https://api.whatsapp.com/send?phone=+584241464762&text=Quiero%20comunicarme%20con%20GrupoAtius">
                            <div class="mt-auto mb-auto">
                                <div class="d-flex align-items-center justify-content-center mb-4"><span
                                        class="wh-icon"></span></div>
                                <h3 class="mb-1">Contáctanos en WhatsApp</h3>
                                <div id="wa_button" 
                                    class="d-flex align-items-center justify-content-center ml-auto mr-auto p-2">
                                    <div class="text-center mt-2">
                                        <h3>+58 (424) 146 4762</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col col-lg-6 col-12">
                        <a href="mailito:hey@altiusgrupo.com" target="_blank" class="h-100 card card-email">
                            <div class="mt-auto mb-auto">
                                <span class="email">
                                    <i class="fas fa-envelope" aria-hidden="true"></i>
                                </span>
                                <h3 class="mb-1">Envíanos un email</h3>
    
                                <div id="email_button"
                                    class="btn-gmail d-flex align-items-center justify-content-center p-2">
                                    <div class="text-center mt-2">
                                        <h4>hey@altiusgrupo.com</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>