
  
  .nav-link{
    color: white !important;
    text-align: center !important;
  }
  
  .navbar {
    height:60px !important; 
    width: 100%;
    background-color: white;
    //border-bottom: 1px solid rgba(128, 128, 128, 0.123);
  }
  
  ul.nav { display:table; width:100%; }
  ul.nav > li { display:table-cell; float:none; }


#identity{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.identity{
    font-weight: 500;
    color: #858598;
    font-family: 'Montserrat', 'medium';
    font-size: 14px;
    text-transform: lowercase;
}

.fa-chevron-down{
  color: #858598;
  font-size: 10px;
}


.state{
  font-family: 'Montserrat', 'thin';
  font-weight: 300;
}
