
// table{
//     width: 100%;
//     font-weight: 400;
//     border-radius: 5px;
//     font-family: 'Montserrat' !important;
// }

// h1{
//     font-family: 'Montserrat', 'black' !important;
//     font-weight: 500;
//     color: #074946;
//     font-size: 18px;
//     margin-bottom: 10px;
// }

// .table-container{
//     width: 100%;
//     position: relative;
//     overflow: auto;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     border-radius: 10px;
// }
// td{
//     font-size: 12px;
// }

// th.mat-header-cell {
//     text-align: center !important;
// }

// .loading-shade {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     z-index: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .loading-shade-black{
//     background: rgba(0, 0, 0, 0.08);
//   }
//   .loading-shade-white{
//     background:#ffffff;
//   }

//   .ship{
//       width: 60px;
//       height: 20px;
//       padding:5px 10px;
//       border-radius: 15px;
//       color: #ffffff;
//   }
//   .positive-ship{
//       background-color: green;
//   }
//   .negative-ship{
//       background-color: rgb(0, 132, 255);
//   }

//   .mat-column-action {
//     width: 200px;
// }

// .loading-btn{
//     padding-left: 30px;
//     padding-right: 30px;
//     border-radius: 20px;
//     height: 40px;
//     background-color: whitesmoke;
//     margin-left: 5px;
//     margin-right: 5px;
//   }

//   .title{
//     font-family: 'Montserrat', 'black' !important;
//     font-weight: 500;
//     color: #074946;
//     font-size: 24px;
//     letter-spacing: 1.6px;
//     position: absolute;
//     top: 7px;
//     left: 20px;
// }

// th{
//     font-size: 14px;
//     font-weight: 500;
//     color: black;
//     text-align: center;
//     text-transform: uppercase;
// }

// td{
//     text-align: center;
// }

// .edit-btn{
//     border-radius: 10px;
//     height: 40px;
//     width: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 0;
//     color: #79798a;
// }
// 
table{
    width: 100%;
    font-weight: 400;
    font-family: 'Montserrat' !important;
  
  
  }
  
  .loading{
    font-family: 'Montserrat' !important;
    font-weight: 400;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  
  
  th{
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  
  td{
    text-align: center;
    font-size: 12px;
  }
  
  th.mat-header-cell {
  text-align: center !important;
  }
  
  .loading-btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .active {
    color: rgb(0, 214, 0);
    font-weight: bold;
  }
  
  .desaffiliate {
    color: red;
    font-weight: bold;
  }
  
  .activate_edit:hover {
    color: blue;
  }
  
  .activate_ban:hover {
    color: red;
  }
  
  .activate_show:hover {
    color: rgb(0, 214, 0);
  }
  
  .activate_check:hover {
    color: rgb(0, 255, 0);
  }
  
  .container_icon {
    margin: 0.5rem;
  }
  
  .activate_ban,
  .activate_edit,
  .activate_show,
  .activate_check {
    font-size: 1.5rem;
  }
  