<section id="edit-sucursales">
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['modelos'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <div class="box-title d-flex justify-content-center">
                <h5 class="bold uppercase mt-3">Agregar Modelo</h5>
            </div>
            <form [formGroup]="form">
                <div class="container">
                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Modelo</mat-label>
                        <input matInput formControlName="modelo" placeholder="MF919" type="text" maxlength="255"
                            minlength="3">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Precio</mat-label>
                        <input matInput formControlName="price" placeholder="Descipcion" type="number" maxlength="255"
                            minlength="3">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Marca</mat-label>
                        <mat-select disableRipple formControlName="marca">
                            <mat-option *ngFor="let marca of marcas" value={{marca.id}}>
                                {{marca.marca}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Categoria</mat-label>
                        <mat-select disableRipple formControlName="categoria">
                            <mat-option *ngFor="let categoria of categorias" value={{categoria.id}}>
                                {{categoria.categoria}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Complemento Vendible</mat-label>
                        <mat-select disableRipple formControlName="vendible">
                            <mat-option *ngFor="let complemento of complementos" value={{complemento.id}}>
                                {{complemento.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    

                    <mat-form-field appearance="outline" class="container_box_space">
                        <mat-label>Complemento</mat-label>
                        <mat-select disableRipple formControlName="complemento">
                            <mat-option *ngFor="let complemento of complementos" value={{complemento.id}}>
                                {{complemento.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>

            <div class="btn_form">
                <button (click)="clear()" class="btn btn-danger bg-danger text-white w-25 mt-3 mb-3 text-uppercase"
                    mat-button>
                    Limpiar
                </button>

                <button (click)="save()" class="btn btn-success bg-success text-white w-25 mt-3 mb-3 text-uppercase"
                    mat-button [disabled]="form.invalid">
                    Guardar
                </button>
            </div>

        </div>
    </div>
</section>
