<nav id="navbarToggle" class="navbar navbar-expand-lg bg-roncola">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse"
        data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars text-white"></i>
    </button>
    <!--Logo-->
    <a class="navbar-brand" style="margin-left: 10px;">
    </a> <!-- Logo-->
    <div class="bg-roncola collapse navbar-collapse" [ngClass]="{'shadow': !toggleNavbar}" id="navbarToggle"
        [collapse]="toggleNavbar" [isAnimated]="true">
        <ul class="navbar nav-pills nav-justified">
            <li class="nav-item" [routerLink]="['']"
                [class.active]="scrollFragment ==='inicio' && component === 'inicio'">
                <a class="nav-link" href="#inicio">Inicio<span class="sr-only">(current)</span></a>
                <span class="bottom-line"></span>
            </li>
            <li class="nav-item" [routerLink]="['']" [class.active]="scrollFragment ==='sobre-nosotros'">
                <a class="nav-link" href="#sobre-nosotros">Sobre Nosotros</a>
                <span class="bottom-line"></span>
            </li>
            <li class="nav-item" [routerLink]="['']" [class.active]="scrollFragment ==='portafoliorones'">
                <a class="nav-link" href="#portafoliorones">Portafolio</a>
                <span class="bottom-line"></span>
            </li>
            <li class="nav-item" [routerLink]="['']" [class.active]="scrollFragment ==='contactanos'">
                <a class="nav-link" href="#contactanos">Contacto</a>
                <span class="bottom-line"></span>
            </li>
        </ul>
        <ul id="loginBtn" class="navbar-nav ml-auto">
            <li class="nav-link">
                <button class="login-btn" mat-button [routerLink]="['/ingresar']">Soy Cliente</button>
            </li>
            <li class="nav-link">
                <button class="login-btn" mat-button [routerLink]="['/afiliarme']">Afíliate</button>
            </li>

        </ul>
    </div>
</nav>