<section id="ficha-cliente">
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">
            <mat-tab-group>
                <mat-tab label="Información">
                    <ng-template matTabContent>
                        <div class="d-flex justify-content-center align-items-center mb-3" style="padding-top: 2rem;">
                            <h4 class="text-right">
                                RIF: {{showClient.rif}}</h4>
                        </div>
                        <hr>
                        <div class="container-fluid rounded bg-white mb-5">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 border-right">
                                    <div class="p-3 py-5">
                                        <h4 class="text-center">Cliente</h4>
                                        <div class="row mt-3">
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Nombre Comercial:
                                                </label>
                                                <span class="">
                                                    {{showClient.comercio}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Razón Social:
                                                </label>
                                                <span class="">
                                                    {{showClient.razon_social}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Actividad Comercial:
                                                </label>
                                                <span class="">
                                                    {{showClient.a_c_des}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Tipo de Contribuyente:
                                                </label>
                                                <span class="">
                                                    {{showClient.contribuyente}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Tipo de Cliente:
                                                </label>
                                                <span class="">
                                                    {{showClient.t_cliente}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Tipo de Documento:
                                                </label>
                                                <span class="">
                                                    {{showClient.t_doc_desc}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Estatus del cliente:
                                                </label>
                                                <span class="">
                                                    {{showClient.status_desc}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //////////////////////////////////////////////////////////////// -->
                                <div class="col-lg-4 col-md-12 border-right">
                                    <div class="p-3 py-5">
                                        <h4 class="text-center">Localización</h4>
                                        <div class="row mt-3">

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Estado:
                                                </label>
                                                <span class="">
                                                    {{showClient.estado}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Ciudad:
                                                </label>
                                                <span class="">
                                                    {{showClient.ciudad}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Municipio:
                                                </label>
                                                <span class="">
                                                    {{showClient.municipio}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Parroquia:
                                                </label>
                                                <span class="">
                                                    {{showClient.parroquia}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Direccion:
                                                </label>
                                                <span class="">
                                                    {{showClient.direccion}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Codigo Postal:
                                                </label>
                                                <span class="">
                                                    {{showClient.cod_postal}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //////////////////////////////////////////////////////////////// -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="p-3 py-5">
                                        <h4 class="text-center">Contacto</h4>

                                        <div class="col-md-12 container_module">
                                            <label class="labels title_data">
                                                Nombre y Apellido:
                                            </label>
                                            <div
                                                *ngIf="showClient.t_doc =='V' || showClient.t_doc =='P' || showClient.t_doc =='E'">
                                                <span class="">
                                                    {{showClient.c_natural.c_p_nombre}}
                                                    {{showClient.c_natural.c_p_apellido}}
                                                </span>
                                            </div>
                                            <div
                                                *ngIf="showClient.t_doc =='J' || showClient.t_doc =='G' || showClient.t_doc =='C'">
                                                <span class="">
                                                    {{showClient.legal.l_p_nombre}}
                                                    {{showClient.legal.l_p_apellido}}
                                                </span>
                                            </div>

                                        </div>


                                        <div class="col-md-12 col-sm-12 container_module">
                                            <label class="labels title_data">
                                                Correo Electrónico:
                                            </label>
                                            <a href="mailto:{{showClient.correo}}" class="text-lowercase">
                                                {{showClient.correo}}
                                            </a>
                                        </div>

                                        <div class="container_tlf">
                                            <div class="col-md-12 container_module">
                                                <label class="labels title_data">
                                                    Telefonos:
                                                </label>
                                                <div *ngFor="let telefono of showClient.telefonos"
                                                    class="phone_number ">
                                                    {{telefono.identificador}}-{{telefono.telefono}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 container_module">
                                            <label class="labels title_data">
                                                Contactó via:
                                            </label>
                                            <span class="">
                                                {{showClient.m_contacto}}
                                            </span>
                                        </div>

                                        <div class="col-md-12 container_module">
                                            <label class="labels title_data">
                                                Fecha de Registro:
                                            </label>
                                            <span class="">
                                                {{showClient.fecha_registro}}
                                            </span>
                                        </div>

                                        <div class="col-md-12 container_module">
                                            <label class="labels title_data">
                                                Fecha de última Actualización:
                                            </label>
                                            <span class="">
                                                {{showClient.ultima_actualizacion}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <table mat-table [dataSource]="a">

                                    <ng-container matColumnDef="venta">
                                        <th mat-header-cell *matHeaderCellDef> Venta </th>
                                        <td mat-cell *matCellDef="let element"> {{element.solicitud}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="afiliado">
                                        <th mat-header-cell *matHeaderCellDef> Afiliado </th>
                                        <td mat-cell *matCellDef="let element"> {{element.afiliado}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="banco">
                                        <th mat-header-cell *matHeaderCellDef> Banco </th>
                                        <td mat-cell *matCellDef="let element"> {{element.banco}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cuenta">
                                        <th mat-header-cell *matHeaderCellDef> Cuenta </th>
                                        <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Estatus de Cobro">
                    <ng-template matTabContent>
                        <app-estado-cuenta [rif]="showClient.rif" [client]="showClient">
                        </app-estado-cuenta>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Productos Asociados">
                    <ng-template matTabContent>
                        <app-equipos-asociados [rif]="showClient.rif">
                        </app-equipos-asociados>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>

</section>