<!-- Vista de Agregar Cliente -->
<section id="addClient">
    <!-- Botones del Navbar -->
    <div class="title">
        <div class="d-flex">
            <a class="nav-btn" #tooltip="matTooltip" [matTooltipPosition]="'right'" matTooltip="Regresar"
                [routerLink]="['/admin/app',{ outlets: { adr: ['ventas'] } }]">
                <li class="fas fa-arrow-left"></li>
            </a>
        </div>
    </div>

    <!-- Container de los Componentes -->
    <div class="container-fluid">
        <div style="background-color: #fff; border-radius: 10px;">

            <!-- Container del Stepper -->
            <mat-vertical-stepper linear #stepper>
                <ng-template matStepperIcon="edit">
                    <li class="fa fa-check"></li>
                </ng-template>

                <mat-step>
                    <!-- [stepControl]="identity" -->
                    <form [formGroup]="identity">
                        <ng-template matStepLabel>Ingrese documento de identidad</ng-template>
                        <div>
                            <h6>Documento de identidad</h6>

                            <mat-form-field appearance="outline" class="container_box">
                                <mat-label>Tipo</mat-label>
                                <mat-select disableRipple formControlName="tipo_doc" (selectionChange)="resetStatus()">
                                    <mat-option *ngFor="let t_doc of tipo_documentos" value={{t_doc.t_doc}}>
                                        {{t_doc.t_doc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Rif
                                </mat-label>
                                <input matInput formControlName="rif" placeholder="123456789" type="text"
                                    (keypress)="onlyNumberKey($event)" maxlength="9"
                                    (keyup.enter)="verificar_usuario()">
                            </mat-form-field>

                            <div class="container_error_sell"
                                *ngIf="identity.get('rif').errors && identity.get('rif').hasError('existe')">
                                <span class="error">El cliente no existe.</span>
                                <button class="btn_space" mat-button color='accent'
                                    [routerLink]="['/admin/app',{ outlets: { adr: ['add-client'] } }]">
                                    <li class="fa fa-cart-plus icon_sell"></li><span>Registrar Cliente</span>

                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Bootn de siguiente strepper -->
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperNext
                            [disabled]="identity.invalid || search_client">Siguiente</button>
                    </div>
                </mat-step>

                <mat-step>
                    <!-- [stepControl]="identity" -->
                    <form [formGroup]="solicitud">
                        <ng-template matStepLabel>Solicitud</ng-template>
                        <div>
                            <h6>Datos</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Surcusal</mat-label>
                                <mat-select disableRipple formControlName="occ">
                                    <mat-option *ngFor="let nombre of occs" value={{nombre.id}}>
                                        {{nombre.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Tipo de pago</mat-label>
                                <mat-select disableRipple formControlName="t_pago_id">
                                    <mat-option *ngFor="let nombre of t_pagos" value={{nombre.id}}>
                                        {{nombre.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Monto</mat-label>
                                <input matInput formControlName="monto" placeholder="$" type="text"
                                    (keypress)="onlyNumberKey($event)" maxlength="9">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>descripción</mat-label>
                                <input matInput formControlName="t_pago_desc" placeholder="Escriba algo..." type="text">
                            </mat-form-field>
                        </div>
                    </form>
                    <!-- Bootn de siguiente strepper -->
                    <div>
                            <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                            <button class="stepBtn" mat-raised-button matStepperNext [disabled]="solicitud.invalid" >Siguiente</button>
                    </div>
                </mat-step>

                <mat-step>
                    <!-- [stepControl]="buy" -->
                    <form [formGroup]="buy">
                        <ng-template matStepLabel>Datos de la Venta</ng-template>
                        <div>
                            <h6>Datos del Equipo</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Modelo</mat-label>
                                <mat-select disableRipple formControlName="modelo">
                                    <mat-option *ngFor="let modelo of modelos" value={{modelo.id}}>
                                        {{modelo.modelo}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Serial POS</mat-label>
                                <input matInput formControlName="serial_pos" placeholder="1234" type="number">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Tipo de Comunicación</mat-label>
                                <mat-select disableRipple formControlName="comunicacion">
                                    <mat-option *ngFor="let comunicacion of comunicaciones" value={{comunicacion.id}}>
                                        {{comunicacion.comunicacion}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Operadora Tlf. Linea 1</mat-label>
                                <mat-select disableRipple formControlName="operadora">
                                    <mat-option *ngFor="let telefonica of operadoras" value={{telefonica.id}}>
                                        {{telefonica.telefonica}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Operadora Tlf. Linea 2</mat-label>
                                <mat-select disableRipple>
                                    <mat-option *ngFor="let telefonica of operadoras" value={{telefonica.id}}>
                                        {{telefonica.telefonica}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Almacen</mat-label>
                                <mat-select disableRipple formControlName="almacen">
                                    <mat-option *ngFor="let nombre of occs" value={{nombre.id}}>
                                        {{nombre.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <h6>Banco y Cuenta</h6>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Plataforma de Pago</mat-label>
                                <mat-select disableRipple formControlName="plataforma">
                                    <mat-option *ngFor="let plataforma of plataformas" value={{plataforma.id}}>
                                        {{plataforma.plataforma}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Banco</mat-label>
                                <mat-select disableRipple formControlName="banco">
                                    <mat-option *ngFor="let nombre of bancos" value={{nombre.codigo}}>
                                        {{nombre.nombre}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Numero de cuenta POS</mat-label>
                                <input matInput formControlName="numero_cuenta_pos" placeholder="1234" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Precio USD</mat-label>
                                <input matInput disabled value={{price_model()}}>

                            </mat-form-field>

                            <h6>Otros</h6>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Plan</mat-label>
                                <mat-select disableRipple formControlName="plan">
                                    <mat-option *ngFor="let plan of planes" value={{plan.id}}>
                                        {{plan.nombre}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Tipo de Cobro</mat-label>
                                <mat-select disableRipple formControlName="tipocobro">
                                    <mat-option *ngFor="let t_cobro of tipocobros" value={{t_cobro.id}}>
                                        {{t_cobro.t_cobro}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Lugar de la entrega</mat-label>
                                <input matInput formControlName="lugar_entrega" placeholder="1234" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Código de afiliado</mat-label>
                                <input matInput formControlName="cod_afiliado" placeholder="1234" type="number">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Terminal</mat-label>
                                <input matInput formControlName="terminal" placeholder="1234" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>Tipo de Venta</mat-label>
                                <mat-select disableRipple formControlName="tipo_venta">
                                    <mat-option *ngFor="let nombre of fraccion_pagos" value={{nombre.id}}>
                                        {{nombre.nombre}} </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </form>
                    <!-- Bootn de siguiente strepper -->
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="stepBtn" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </mat-step>

                <mat-step>
                    <!-- [stepControl]="client" -->
                    <form [formGroup]="model">
                        <ng-template matStepLabel>Carga de Documentos</ng-template>

                        <div>
                            <h6>Acta de Entrega</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>
                                    Acta de Entrega
                                </mat-label>
                                <input matInput formControlName="acta" placeholder="Acta de Entrega" type="text">
                            </mat-form-field>
                        </div>

                        <div>
                            <h6>Contrato de Servicio</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>
                                    Contrato de Servicio
                                </mat-label>
                                <input matInput formControlName="contrato" placeholder="Contrato de Servicio"
                                    type="text">
                            </mat-form-field>
                        </div>

                        <div>
                            <h6>Carta de Cargo en cuenta por Domiciliacion</h6>
                            <mat-form-field appearance="outline" class="container_box_space">
                                <mat-label>
                                    Carta de Cargo en cuenta por Domiciliacion
                                </mat-label>
                                <input matInput formControlName="domiciliacion" placeholder="Carta de Domiciliacion"
                                    type="text">
                            </mat-form-field>
                        </div>
                        <!-- <div *ngIf="getTipoCliente()=='N'"> -->
                    </form>
                    <!-- Bootn de siguiente strepper -->
                    <div>
                        <button class="stepBtn" mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="stepBtn" mat-raised-button>Finalizar</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</section>